/**
 * Mail Baby API
 * This is an API defintion for accesssing the Mail.Baby mail service.
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: detain@interserver.net
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.ErrorResponse
import org.openapitools.client.model.GenericResponse
import org.openapitools.client.model.MailLog
import org.openapitools.client.model.MailOrder
import org.openapitools.client.model.SendMail
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object DefaultApi {

  def apply(baseUrl: String = "https://api.mailbaby.net") = new DefaultApi(baseUrl)
}

class DefaultApi(baseUrl: String) {
  
  /**
   * Expected answers:
   *   code 200 : Seq[MailOrder] (OK)
   *   code 401 : ErrorResponse (Unauthorized)
   * 
   * Available security schemes:
   *   apiKeyAuth (apiKey)
   * 
   * @param id The ID of your mail order this will be sent through.
   */
  def getMailOrders(id: Option[Long] = None)(implicit apiKey: ApiKeyValue): ApiRequest[Seq[MailOrder]] =
    ApiRequest[Seq[MailOrder]](ApiMethods.GET, baseUrl, "/mail", "application/json")
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withQueryParam("id", id)
      .withSuccessResponse[Seq[MailOrder]](200)
      .withErrorResponse[ErrorResponse](401)
      

  /**
   * Expected answers:
   *   code 200 :  (Server is up and running)
   *   code 0 :  (Something is wrong)
   */
  def pingServer(): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/ping", "application/json")
      .withSuccessResponse[Unit](200)
      .withDefaultErrorResponse[Unit]
      

  /**
   * Adds an item to the system
   * 
   * Expected answers:
   *   code 200 :  (list of mail orders)
   *   code 400 :  (invalid input, object invalid)
   *   code 409 :  (an existing item already exists)
   *   code 401 : ErrorResponse (Unauthorized)
   * 
   * Available security schemes:
   *   apiKeyAuth (apiKey)
   * 
   * @param mailOrder Inventory item to add
   */
  def placeMailOrder(mailOrder: Option[MailOrder] = None)(implicit apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/mail/order", "application/json")
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withBody(mailOrder)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[Unit](400)
      .withErrorResponse[Unit](409)
      .withErrorResponse[ErrorResponse](401)
      

  /**
   * Sends An email through one of your mail orders allowing additional options such as file attachments, cc, bcc, etc.
   * 
   * Expected answers:
   *   code 200 : GenericResponse (search results matching criteria)
   *   code 400 :  (bad input parameter)
   *   code 401 : ErrorResponse (Unauthorized)
   *   code 404 : ErrorResponse (The specified resource was not found)
   * 
   * Available security schemes:
   *   apiKeyAuth (apiKey)
   * 
   * @param sendMail 
   */
  def sendAdvMailById(sendMail: SendMail)(implicit apiKey: ApiKeyValue): ApiRequest[GenericResponse] =
    ApiRequest[GenericResponse](ApiMethods.POST, baseUrl, "/mail/advsend", "application/json")
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withBody(sendMail)
      .withSuccessResponse[GenericResponse](200)
      .withErrorResponse[Unit](400)
      .withErrorResponse[ErrorResponse](401)
      .withErrorResponse[ErrorResponse](404)
      

  /**
   * Sends An email through one of your mail orders.
   * 
   * Expected answers:
   *   code 200 : GenericResponse (search results matching criteria)
   *   code 400 :  (bad input parameter)
   *   code 401 : ErrorResponse (Unauthorized)
   *   code 404 : ErrorResponse (The specified resource was not found)
   * 
   * Available security schemes:
   *   apiKeyAuth (apiKey)
   * 
   * @param subject The Subject of the email
   * @param body The contents of the email
   * @param to The email address of who this email will be sent to.
   * @param from The email address of who this email will be sent from.
   * @param id The ID of your mail order this will be sent through.
   * @param toName The name or title of who this email is being sent to.
   * @param fromName The name or title of who this email is being sent from.
   */
  def sendMailById(subject: Option[String] = None, body: Option[String] = None, to: Option[String] = None, from: Option[String] = None, id: Option[Long] = None, toName: Option[String] = None, fromName: Option[String] = None)(implicit apiKey: ApiKeyValue): ApiRequest[GenericResponse] =
    ApiRequest[GenericResponse](ApiMethods.POST, baseUrl, "/mail/send", "application/json")
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withQueryParam("subject", subject)
      .withQueryParam("body", body)
      .withQueryParam("to", to)
      .withQueryParam("from", from)
      .withQueryParam("id", id)
      .withQueryParam("toName", toName)
      .withQueryParam("fromName", fromName)
      .withSuccessResponse[GenericResponse](200)
      .withErrorResponse[Unit](400)
      .withErrorResponse[ErrorResponse](401)
      .withErrorResponse[ErrorResponse](404)
      

  /**
   * Expected answers:
   *   code 200 :  (list of mail orders)
   *   code 401 : ErrorResponse (Unauthorized)
   * 
   * Available security schemes:
   *   apiKeyAuth (apiKey)
   */
  def validateMailOrder()(implicit apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/mail/order", "application/json")
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[ErrorResponse](401)
      

  /**
   * By passing in the appropriate options, you can search for available inventory in the system 
   * 
   * Expected answers:
   *   code 200 : Seq[MailLog] (search results matching criteria)
   *   code 400 :  (bad input parameter)
   * 
   * Available security schemes:
   *   apiKeyAuth (apiKey)
   * 
   * @param id The ID of your mail order this will be sent through.
   * @param searchString pass an optional search string for looking up inventory
   * @param skip number of records to skip for pagination
   * @param limit maximum number of records to return
   */
  def viewMailLogById(id: Option[Long] = None, searchString: Option[String] = None, skip: Option[Int] = None, limit: Option[Int] = None)(implicit apiKey: ApiKeyValue): ApiRequest[Seq[MailLog]] =
    ApiRequest[Seq[MailLog]](ApiMethods.GET, baseUrl, "/mail/log", "application/json")
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withQueryParam("id", id)
      .withQueryParam("searchString", searchString)
      .withQueryParam("skip", skip)
      .withQueryParam("limit", limit)
      .withSuccessResponse[Seq[MailLog]](200)
      .withErrorResponse[Unit](400)
      



}

