{
  "openapi" : "3.0.3",
  "info" : {
    "contact" : {
      "email" : "support@interserver.net",
      "name" : "Mail Baby",
      "url" : "https://www.mail.baby/contact/"
    },
    "description" : "**Send emails fast and with confidence through our easy to use [REST](https://en.wikipedia.org/wiki/Representational_state_transfer) API interface.**\n\n\n# 📌 Overview\n\nThis is the API interface to the [Mail Baby](https//mail.baby/) Mail services provided by [InterServer](https://www.interserver.net). To use this service you must have an account with us at [my.interserver.net](https://my.interserver.net).\n\n\n# 🔐 Authentication\n\nIn order to use most of the API calls you must pass credentials from the [my.interserver.net](https://my.interserver.net/) site.\n\nWe support several different authentication methods but the preferred method is to use the **API Key** which you can get from the [Account Security](https://my.interserver.net/account_security) page.\n",
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "termsOfService" : "https://www.interserver.net/terms-of-service.html",
    "title" : "MailBaby Email Delivery API",
    "version" : "1.0.1"
  },
  "externalDocs" : {
    "description" : "FAQ",
    "url" : "https://www.mail.baby/tips/"
  },
  "servers" : [ {
    "description" : "Live API Endpoint",
    "url" : "https://api.mailbaby.net"
  }, {
    "description" : "Temporary API Endpoint",
    "url" : "http://mystage.interserver.net:8787"
  }, {
    "description" : "SwaggerHub API Auto Mocking",
    "url" : "https://virtserver.swaggerhub.com/InterServer/Mail-Baby/1.0.0"
  } ],
  "security" : [ {
    "apiKeyAuth" : [ ]
  } ],
  "paths" : {
    "/mail" : {
      "get" : {
        "operationId" : "getMailOrders",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "$ref" : "#/components/schemas/getMailOrders_200_response_inner"
                  },
                  "type" : "array"
                }
              }
            },
            "description" : "OK",
            "links" : {
              "sendMailByIdLink" : {
                "description" : "The `id` value returned in the response can be used as the `id` parameter in `GET /mail/advsend`.",
                "operationId" : "sendMail",
                "parameters" : {
                  "id" : "$response.body#/0/id"
                }
              }
            }
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getMailOrders_401_response"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getMailOrders_401_response"
                }
              }
            },
            "description" : "Unauthorized"
          }
        },
        "summary" : "displays a list of mail service orders"
      }
    },
    "/mail/send" : {
      "post" : {
        "description" : "Sends an email through one of your mail orders.\n\n*Note*: If you want to send to multiple recipients or use file attachments use the advsend (Advanced Send) call instead.\n",
        "operationId" : "sendMail",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/SendMail"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SendMail"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GenericResponse"
                }
              }
            },
            "description" : "search results matching criteria"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getMailOrders_401_response"
                }
              }
            },
            "description" : "The specified resource was not found"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getMailOrders_401_response"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getMailOrders_401_response"
                }
              }
            },
            "description" : "The specified resource was not found"
          }
        },
        "summary" : "Sends an Email"
      }
    },
    "/mail/advsend" : {
      "post" : {
        "description" : "Sends An email through one of your mail orders allowing additional options such as file attachments, cc, bcc, etc.",
        "operationId" : "sendAdvMail",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SendMailAdv"
              }
            },
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/SendMailAdv"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GenericResponse"
                }
              }
            },
            "description" : "search results matching criteria"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getMailOrders_401_response"
                }
              }
            },
            "description" : "The specified resource was not found"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getMailOrders_401_response"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getMailOrders_401_response"
                }
              }
            },
            "description" : "The specified resource was not found"
          }
        },
        "summary" : "Sends an Email with Advanced Options"
      }
    },
    "/mail/log" : {
      "get" : {
        "description" : "By passing in the appropriate options, you can search for\navailable inventory in the system\n",
        "operationId" : "viewMailLog",
        "parameters" : [ {
          "description" : "The ID of your mail order this will be sent through.",
          "explode" : true,
          "in" : "query",
          "name" : "id",
          "required" : false,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "pass an optional search string for looking up inventory",
          "explode" : true,
          "in" : "query",
          "name" : "search",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "number of records to skip for pagination",
          "explode" : true,
          "in" : "query",
          "name" : "skip",
          "required" : false,
          "schema" : {
            "default" : 0,
            "format" : "int32",
            "minimum" : 0,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "maximum number of records to return",
          "explode" : true,
          "in" : "query",
          "name" : "limit",
          "required" : false,
          "schema" : {
            "default" : 100,
            "format" : "int32",
            "maximum" : 10000,
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "earliest date to get emails in unix timestamp format",
          "explode" : true,
          "in" : "query",
          "name" : "startDate",
          "required" : false,
          "schema" : {
            "format" : "int64",
            "maximum" : 9999999999,
            "minimum" : 0,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "earliest date to get emails in unix timestamp format",
          "explode" : true,
          "in" : "query",
          "name" : "endDate",
          "required" : false,
          "schema" : {
            "format" : "int64",
            "maximum" : 9999999999,
            "minimum" : 0,
            "type" : "integer"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MailLog"
                }
              }
            },
            "description" : "search results matching criteria"
          },
          "400" : {
            "description" : "bad input parameter"
          }
        },
        "summary" : "displays the mail log"
      }
    },
    "/ping" : {
      "get" : {
        "operationId" : "pingServer",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Server is up and running"
          },
          "default" : {
            "description" : "Something is wrong"
          }
        },
        "security" : [ ],
        "summary" : "Checks if the server is running"
      }
    }
  },
  "components" : {
    "callbacks" : { },
    "examples" : { },
    "headers" : { },
    "links" : { },
    "parameters" : {
      "offsetParam" : {
        "description" : "Number of items to skip before returning the results.",
        "explode" : true,
        "in" : "query",
        "name" : "offset",
        "required" : false,
        "schema" : {
          "default" : 0,
          "format" : "int32",
          "minimum" : 0,
          "type" : "integer"
        },
        "style" : "form"
      },
      "limitParam" : {
        "description" : "Maximum number of items to return.",
        "explode" : true,
        "in" : "query",
        "name" : "limit",
        "required" : false,
        "schema" : {
          "default" : 20,
          "format" : "int32",
          "maximum" : 100,
          "minimum" : 1,
          "type" : "integer"
        },
        "style" : "form"
      }
    },
    "requestBodies" : { },
    "responses" : {
      "BadInput" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/getMailOrders_401_response"
            }
          }
        },
        "description" : "The specified resource was not found"
      },
      "AlreadyExists" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "properties" : {
                "code" : {
                  "type" : "string"
                },
                "message" : {
                  "type" : "string"
                }
              },
              "required" : [ "code", "message" ],
              "type" : "object"
            }
          }
        },
        "description" : "The specified resource was not found"
      },
      "NotFound" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/getMailOrders_401_response"
            }
          }
        },
        "description" : "The specified resource was not found"
      },
      "Unauthorized" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/getMailOrders_401_response"
            }
          }
        },
        "description" : "Unauthorized"
      }
    },
    "schemas" : {
      "GenericResponse" : {
        "properties" : {
          "status" : {
            "example" : "ok",
            "type" : "string"
          },
          "text" : {
            "example" : "The command completed successfully.",
            "type" : "string"
          }
        },
        "type" : "object"
      },
      "MailLog" : {
        "description" : "Mail log records",
        "properties" : {
          "total" : {
            "description" : "total number of mail log entries",
            "example" : 10234,
            "type" : "integer"
          },
          "skip" : {
            "description" : "number of emails skipped in listing",
            "example" : 0,
            "type" : "integer"
          },
          "limit" : {
            "description" : "number of emails to return",
            "example" : 100,
            "type" : "integer"
          },
          "emails" : {
            "items" : {
              "$ref" : "#/components/schemas/MailLogEntry"
            },
            "type" : "array"
          }
        },
        "required" : [ "emails", "limit", "skip", "total" ],
        "type" : "object"
      },
      "MailLogEntry" : {
        "description" : "An email record",
        "properties" : {
          "_id" : {
            "description" : "internal db id",
            "example" : 103172,
            "type" : "integer"
          },
          "id" : {
            "description" : "mail id",
            "example" : "17c7eda538e0005d03",
            "type" : "string"
          },
          "from" : {
            "description" : "from address",
            "example" : "person@mysite.com",
            "type" : "string"
          },
          "to" : {
            "description" : "to address",
            "example" : "client@isp.com",
            "type" : "string"
          },
          "subject" : {
            "description" : "email subject",
            "example" : "sell 0.005 shares",
            "type" : "string"
          },
          "messageId" : {
            "description" : "message id",
            "example" : "<vmiLEebsuCbSpUxD7oN3REpaN4VbN6BrdCAbNKIrdAo@relay0.mailbaby.net>",
            "type" : "string"
          },
          "created" : {
            "description" : "creation date",
            "example" : "2021-10-14 08:50:10",
            "type" : "string"
          },
          "time" : {
            "description" : "creation timestamp",
            "example" : 1634215809,
            "type" : "integer"
          },
          "user" : {
            "description" : "user account",
            "example" : "mb5658",
            "type" : "string"
          },
          "transtype" : {
            "description" : "transaction type",
            "example" : "ESMTPSA",
            "type" : "string"
          },
          "transhost" : {
            "description" : "transaction host",
            "example" : "relay0.mailbaby.net",
            "type" : "string"
          },
          "originhost" : {
            "description" : "origin host",
            "example" : "199.231.189.154",
            "type" : "string"
          },
          "origin" : {
            "description" : "origin ip",
            "example" : "199.231.189.154",
            "type" : "string"
          },
          "interface" : {
            "description" : "interface name",
            "example" : "feeder",
            "type" : "string"
          },
          "date" : {
            "description" : "date processed",
            "example" : "Thu, 14 Oct 2021 08:50:09 -0400",
            "type" : "string"
          },
          "sendingZone" : {
            "description" : "sending zone",
            "example" : "interserver",
            "type" : "string"
          },
          "bodySize" : {
            "description" : "email body size in bytes",
            "example" : 63,
            "type" : "integer"
          },
          "sourceMd5" : {
            "description" : "md5 sum of the email",
            "example" : "1d7058e6a30369f200b0c34fab2fac92",
            "type" : "string"
          },
          "seq" : {
            "description" : "delivery sequency",
            "example" : 1,
            "type" : "integer"
          },
          "domain" : {
            "description" : "to address domain",
            "example" : "interserver.net",
            "type" : "string"
          },
          "recipient" : {
            "description" : "email receiver address",
            "example" : "client@isp.com",
            "type" : "string"
          },
          "locked" : {
            "description" : "locked status",
            "example" : 1,
            "type" : "integer"
          },
          "lockTime" : {
            "description" : "lock timestamp",
            "example" : 1634215818533,
            "type" : "integer"
          },
          "assigned" : {
            "description" : "assigned server",
            "example" : "relay1",
            "type" : "string"
          },
          "queued" : {
            "description" : "queued timestamp",
            "example" : "2021-10-14T12:50:15.487Z",
            "type" : "string"
          },
          "_lock" : {
            "description" : "lock id",
            "example" : "lock 17c7eda538e0005d03 001",
            "type" : "string"
          },
          "logger" : {
            "description" : "logger",
            "type" : "string"
          },
          "mxPort" : {
            "description" : "mx port number",
            "example" : 25,
            "type" : "integer"
          },
          "connectionKey" : {
            "description" : "connection key",
            "example" : "206.72.200.46:interserver.net:25",
            "type" : "string"
          },
          "mxHostname" : {
            "description" : "mx hostname",
            "example" : "mx.j.is.cc",
            "type" : "string"
          },
          "sentBodyHash" : {
            "description" : "body hash",
            "example" : "1d7058e6a30369f200b0c34fab2fac92",
            "type" : "string"
          },
          "sentBodySize" : {
            "description" : "sent body size in bytes",
            "example" : 63,
            "type" : "integer"
          },
          "md5Match" : {
            "description" : "md5 checksum matching result",
            "example" : 1,
            "type" : "integer"
          }
        },
        "required" : [ "_id", "_lock", "assigned", "bodySize", "connectionKey", "created", "date", "domain", "from", "id", "interface", "lockTime", "locked", "logger", "md5Match", "messageId", "mxHostname", "mxPort", "origin", "originhost", "queued", "recipient", "sendingZone", "sentBodyHash", "sentBodySize", "seq", "sourceMd5", "subject", "time", "to", "transhost", "transtype", "user" ],
        "type" : "object"
      },
      "SendMail" : {
        "description" : "Details for an Email",
        "properties" : {
          "to" : {
            "description" : "The Contact whom is the primary recipient of this email.",
            "example" : "johndoe@company.com",
            "type" : "string"
          },
          "from" : {
            "description" : "The contact whom is the this email is from.",
            "example" : "janedoe@company.com",
            "type" : "string"
          },
          "subject" : {
            "description" : "The subject or title of the email",
            "example" : "Attention Client",
            "type" : "string"
          },
          "body" : {
            "description" : "The main email contents.",
            "example" : "This is an email to inform you that something noteworthy happened.",
            "type" : "string"
          }
        },
        "required" : [ "body", "from", "subject", "to" ],
        "type" : "object"
      },
      "SendMailAdv" : {
        "description" : "Details for an Email",
        "properties" : {
          "subject" : {
            "description" : "The subject or title of the email",
            "example" : "Your Package has been Delivered!",
            "type" : "string"
          },
          "body" : {
            "description" : "The main email contents.",
            "example" : "The package you ordered on 2021-01-23 has been delivered. If the package is broken into many pieces, please blaim someone else.",
            "type" : "string"
          },
          "from" : {
            "$ref" : "#/components/schemas/SendMailAdv_from"
          },
          "to" : {
            "description" : "A list of destionation email addresses to send this to",
            "items" : {
              "$ref" : "#/components/schemas/SendMailAdv_to_inner"
            },
            "type" : "array"
          },
          "replyto" : {
            "description" : "(optional) A list of email addresses that specify where replies to the email should be sent instead of the _from_ address.",
            "items" : {
              "$ref" : "#/components/schemas/SendMailAdv_replyto_inner"
            },
            "type" : "array"
          },
          "cc" : {
            "description" : "(optional) A list of email addresses to carbon copy this message to.  They are listed on the email and anyone getting the email can see this full list of Contacts who received the email as well.",
            "items" : {
              "$ref" : "#/components/schemas/SendMailAdv_cc_inner"
            },
            "type" : "array"
          },
          "bcc" : {
            "description" : "(optional) list of email addresses that should receive copies of the email.  They are hidden on the email and anyone gettitng the email would not see the other people getting the email in this list.",
            "items" : {
              "$ref" : "#/components/schemas/SendMailAdv_bcc_inner"
            },
            "type" : "array"
          },
          "attachments" : {
            "description" : "(optional) File attachments to include in the email.  The file contents must be base64 encoded!",
            "items" : {
              "$ref" : "#/components/schemas/SendMailAdv_attachments_inner"
            },
            "type" : "array"
          },
          "id" : {
            "description" : "(optional)  ID of the Mail order within our system to use as the Mail Account.",
            "example" : 5000,
            "format" : "int64",
            "type" : "integer"
          }
        },
        "required" : [ "body", "from", "subject", "to" ],
        "title" : "Email details",
        "type" : "object"
      },
      "getMailOrders_200_response_inner" : {
        "properties" : {
          "id" : {
            "example" : 1234,
            "type" : "integer"
          },
          "status" : {
            "example" : "active",
            "type" : "string"
          },
          "username" : {
            "example" : "mb1234",
            "type" : "string"
          },
          "password" : {
            "example" : "guest123",
            "type" : "string"
          },
          "comment" : {
            "example" : "main mail account",
            "type" : "string"
          }
        },
        "required" : [ "id", "status", "username" ],
        "type" : "object"
      },
      "getMailOrders_401_response" : {
        "properties" : {
          "code" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          }
        },
        "required" : [ "code", "message" ],
        "type" : "object"
      },
      "SendMailAdv_from" : {
        "description" : "The information to use for the From address in the email. from.",
        "properties" : {
          "email" : {
            "description" : "The email address",
            "example" : "business@company.com",
            "type" : "string"
          },
          "name" : {
            "description" : "(optional) Name to use for the sending contact.",
            "example" : "The Man",
            "type" : "string"
          }
        },
        "required" : [ "email" ],
        "type" : "object"
      },
      "SendMailAdv_to_inner" : {
        "description" : "An Email Contact",
        "properties" : {
          "email" : {
            "description" : "The email address",
            "example" : "johndoe@isp.com",
            "type" : "string"
          },
          "name" : {
            "description" : "(optional) Name to use for the destination contact.",
            "example" : "John Doe",
            "type" : "string"
          }
        },
        "required" : [ "email" ],
        "type" : "object"
      },
      "SendMailAdv_replyto_inner" : {
        "description" : "An Email Contact",
        "properties" : {
          "email" : {
            "description" : "The email address",
            "example" : "support@company.com",
            "type" : "string"
          },
          "name" : {
            "description" : "(optional) Name to use for the sending contact.",
            "example" : "Support Staff",
            "type" : "string"
          }
        },
        "required" : [ "email" ],
        "type" : "object"
      },
      "SendMailAdv_cc_inner" : {
        "description" : "An Email Contact",
        "properties" : {
          "email" : {
            "description" : "The email address",
            "example" : "janedoe@isp.com",
            "type" : "string"
          },
          "name" : {
            "description" : "(optional) Name to use for the CC contact.",
            "example" : "Jane Doe",
            "type" : "string"
          }
        },
        "required" : [ "email" ],
        "type" : "object"
      },
      "SendMailAdv_bcc_inner" : {
        "description" : "An Email Contact",
        "properties" : {
          "email" : {
            "description" : "The email address",
            "example" : "records@company.com",
            "type" : "string"
          },
          "name" : {
            "description" : "(optional) Name to use for the BCC contact.",
            "example" : "Records Department",
            "type" : "string"
          }
        },
        "required" : [ "email" ],
        "type" : "object"
      },
      "SendMailAdv_attachments_inner" : {
        "description" : "A File attachment for an email",
        "properties" : {
          "filename" : {
            "description" : "(optional) Filename to specify for the attachment.",
            "example" : "company_logo.png",
            "type" : "string"
          },
          "data" : {
            "description" : "Contents of the attached file (must be base64 encoded)",
            "format" : "binary",
            "type" : "string"
          }
        },
        "required" : [ "data" ],
        "type" : "object"
      }
    },
    "securitySchemes" : {
      "apiKeyAuth" : {
        "in" : "header",
        "name" : "X-API-KEY",
        "type" : "apiKey"
      }
    }
  }
}