{
  "openapi" : "3.0.3",
  "info" : {
    "contact" : {
      "email" : "support@interserver.net",
      "name" : "Mail Baby",
      "url" : "https://www.mail.baby/contact/"
    },
    "description" : "**Send emails fast and with confidence through our easy to use [REST](https://en.wikipedia.org/wiki/Representational_state_transfer) API interface.**\n# Overview\nThis is the API interface to the [Mail Baby](https//mail.baby/) Mail services provided by [InterServer](https://www.interserver.net). To use this service you must have an account with us at [my.interserver.net](https://my.interserver.net).\n# Authentication\nIn order to use most of the API calls you must pass credentials from the [my.interserver.net](https://my.interserver.net/) site.\nWe support several different authentication methods but the preferred method is to use the **API Key** which you can get from the [Account Security](https://my.interserver.net/account_security) page.\n",
    "license" : {
      "name" : "GNU GPLv3",
      "url" : "https://www.gnu.org/licenses/gpl.txt"
    },
    "termsOfService" : "https://www.interserver.net/terms-of-service.html",
    "title" : "MailBaby Email Delivery and Management Service API",
    "version" : "1.1.0"
  },
  "externalDocs" : {
    "description" : "FAQ",
    "url" : "https://www.mail.baby/tips/"
  },
  "servers" : [ {
    "description" : "Live API Endpoint",
    "url" : "https://api.mailbaby.net"
  } ],
  "security" : [ {
    "apiKeyAuth" : [ ]
  } ],
  "tags" : [ {
    "description" : "Mail service orders.",
    "name" : "Services"
  }, {
    "description" : "Email delivery commands",
    "name" : "Sending"
  }, {
    "description" : "Management of email blocking rules and block lists.",
    "name" : "Blocking"
  }, {
    "description" : "Information about already delivered emails.",
    "name" : "History"
  }, {
    "description" : "Service Status",
    "name" : "Status"
  } ],
  "paths" : {
    "/mail" : {
      "get" : {
        "description" : "This will return a list of the mail orders you have in our system including their id, status, username, and optional comment.",
        "operationId" : "getMailOrders",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "MailOrders" : {
                    "value" : [ {
                      "id" : 39,
                      "status" : "active",
                      "username" : "mb39"
                    }, {
                      "id" : 33,
                      "status" : "canceled",
                      "username" : "mb33",
                      "comment" : "test order"
                    } ]
                  }
                },
                "schema" : {
                  "items" : {
                    "$ref" : "#/components/schemas/MailOrder"
                  },
                  "type" : "array"
                }
              }
            },
            "description" : "OK",
            "links" : {
              "sendMailByIdLink" : {
                "description" : "The `id` value returned in the response can be used as the `id` parameter in `GET /mail/advsend`.",
                "operationId" : "sendMail",
                "parameters" : {
                  "id" : "$response.body#/0/id"
                }
              }
            }
          },
          "401" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "UnauthorizedError" : {
                    "value" : {
                      "code" : 401,
                      "message" : "Unauthorized"
                    }
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "UnauthorizedError" : {
                    "value" : {
                      "code" : 401,
                      "message" : "Unauthorized"
                    }
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            },
            "description" : "Unauthorized"
          }
        },
        "summary" : "displays a list of mail service orders",
        "tags" : [ "Services" ]
      }
    },
    "/mail/blocks" : {
      "get" : {
        "operationId" : "getMailBlocks",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "MailBlocksExample" : {
                    "value" : {
                      "local" : [ {
                        "date" : "2023-08-07",
                        "from" : "user@domain.com",
                        "messageId" : "pFaRqFUEWkucjhTuIzYuoAgWU@domain.com",
                        "subject" : "Test Email",
                        "to" : "['client@site.com']"
                      } ],
                      "mbtrap" : [ {
                        "date" : "2023-08-07",
                        "from" : "user@domain.com",
                        "messageId" : "pFaRqFUEWkucjhTuIzYuoAgWU@domain.com",
                        "subject" : "Test Email",
                        "to" : "['client@site.com']"
                      } ],
                      "subject" : [ {
                        "from" : "user@domain.com",
                        "subject" : "Test Email"
                      } ]
                    }
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/MailBlocks"
                }
              }
            },
            "description" : "OK",
            "links" : {
              "delistBlockLink" : {
                "description" : "The `from` value returned in the response can be used as the `email` parameter in `DELETE /mail/blocks`.",
                "operationId" : "delistBlock",
                "parameters" : {
                  "email" : "$response.body#/local/0/from"
                }
              }
            }
          },
          "401" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "UnauthorizedError" : {
                    "value" : {
                      "code" : 401,
                      "message" : "Unauthorized"
                    }
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "UnauthorizedError" : {
                    "value" : {
                      "code" : 401,
                      "message" : "Unauthorized"
                    }
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            },
            "description" : "Unauthorized"
          }
        },
        "summary" : "displays a list of blocked email addresses",
        "tags" : [ "Blocking" ]
      }
    },
    "/mail/send" : {
      "post" : {
        "description" : "Sends an email through one of your mail orders.\n\n*Note*: If you want to send to multiple recipients or use file attachments use the advsend (Advanced Send) call instead.\n",
        "operationId" : "sendMail",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/SendMail"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SendMail"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GenericResponse"
                }
              }
            },
            "description" : "search results matching criteria"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "BadInputError" : {
                    "value" : {
                      "code" : 400,
                      "message" : "There was a problem with the input parameters."
                    }
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            },
            "description" : "Error message when there was a problem with the input parameters."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "UnauthorizedError" : {
                    "value" : {
                      "code" : 401,
                      "message" : "Unauthorized"
                    }
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "NotFoundError" : {
                    "value" : {
                      "code" : 404,
                      "message" : "The specified resource was not found."
                    }
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            },
            "description" : "The specified resource was not found"
          }
        },
        "summary" : "Sends an Email",
        "tags" : [ "Sending" ]
      }
    },
    "/mail/advsend" : {
      "description" : "Sends An email through one of your mail orders allowing additional options such as file attachments, cc, bcc, etc.",
      "post" : {
        "description" : "Sends An email through one of your mail orders allowing additional options such as file attachments, cc, bcc, etc.\n\nHere are 9 examples showing the various ways to call the advsend operation showing the different ways you can pass the to, cc, bcc, and replyto information. The first several examples are all for the application/x-www-form-urlencoded content-type while the later ones are for application/json content-types.\n\n```BasicForm\ncurl -i --request POST --url https://api.mailbaby.net/mail/advsend \\\n--header 'Accept: application/json' \\\n--header 'Content-Type: application/x-www-form-urlencoded' \\\n--header 'X-API-KEY: YOUR_API_KEY' \\\n--data 'subject=Welcome' \\\n--data 'body=Hello' \\\n--data from=user@domain.com \\\n--data to=support@interserver.net\n```\n\n```ArrayForm\ncurl -i --request POST --url https://api.mailbaby.net/mail/advsend \\\n--header 'Accept: application/json' \\\n--header 'Content-Type: application/x-www-form-urlencoded' \\\n--header 'X-API-KEY: YOUR_API_KEY' \\\n--data 'subject=Welcome' \\\n--data 'body=Hello' \\\n--data from=user@domain.com \\\n--data \"to[0][name]=Joe\" \\\n--data \"to[0][email]=support@interserver.net\"\n```\n\n```NameEmailForm\ncurl -i --request POST --url https://api.mailbaby.net/mail/advsend \\\n--header 'Accept: application/json' \\\n--header 'Content-Type: application/x-www-form-urlencoded' \\\n--header 'X-API-KEY: YOUR_API_KEY' \\\n--data 'subject=Welcome' \\\n--data 'body=Hello' \\\n--data from=\"Joe <user@domain.com>\" \\\n--data to=\"Joe <support@interserver.net>\"\n```\n\n```MultToForm\ncurl -i --request POST --url https://api.mailbaby.net/mail/advsend \\\n--header 'Accept: application/json' \\\n--header 'Content-Type: application/x-www-form-urlencoded' \\\n--header 'X-API-KEY: YOUR_API_KEY' \\\n--data 'subject=Welcome' \\\n--data 'body=Hello' \\\n--data from=user@domain.com \\\n--data \"to=support@interserver.net, support@interserver.net\"\n```\n\n```MultToFullForm\ncurl -i --request POST --url https://api.mailbaby.net/mail/advsend \\\n--header 'Accept: application/json' \\\n--header 'Content-Type: application/x-www-form-urlencoded' \\\n--header 'X-API-KEY: YOUR_API_KEY' \\\n--data 'subject=Welcome' \\\n--data 'body=Hello' \\\n--data from=user@domain.com \\\n--data \"to=Joe <support@interserver.net>, Joe <support@interserver.net>\"\n```\n\n```MultToArrayForm\ncurl -i --request POST --url https://api.mailbaby.net/mail/advsend \\\n--header 'Accept: application/json' \\\n--header 'Content-Type: application/x-www-form-urlencoded' \\\n--header 'X-API-KEY: YOUR_API_KEY' \\\n--data 'subject=Welcome' \\\n--data 'body=Hello' \\\n--data from=user@domain.com \\\n--data \"to[0][name]=Joe\" \\\n--data \"to[0][email]=support@interserver.net\" \\\n--data \"to[1][name]=Joe\" \\\n--data \"to[1][email]=support@interserver.net\"\n```\n\n```BasicJson\ncurl -i --request POST --url https://api.mailbaby.net/mail/advsend \\\n--header 'Accept: application/json' \\\n--header 'Content-Type: application/json' \\\n--header 'X-API-KEY: YOUR_API_KEY' \\\n--data '{\n\"subject\": \"Welcome\",\n\"body\": \"Hello\",\n\"from\": \"user@domain.com\",\n\"to\": \"support@interserver.net\"\n}'\n```\n\n```ArrayJson\ncurl -i --request POST --url https://api.mailbaby.net/mail/advsend \\\n--header 'Accept: application/json' \\\n--header 'Content-Type: application/json' \\\n--header 'X-API-KEY: YOUR_API_KEY' \\\n--data '{\n\"subject\": \"Welcome\",\n\"body\": \"Hello\",\n\"from\": {\"name\": \"Joe\", \"email\": \"user@domain.com\"},\n\"to\": [{\"name\": \"Joe\", \"email\": \"support@interserver.net\"}]\n}'\n```\n\n```NameEmailJson\ncurl -i --request POST --url https://api.mailbaby.net/mail/advsend \\\n--header 'Accept: application/json' \\\n--header 'Content-Type: application/json' \\\n--header 'X-API-KEY: YOUR_API_KEY' \\\n--data '{\n\"subject\": \"Welcome\",\n\"body\": \"Hello\",\n\"from\": \"Joe <user@domain.com>\",\n\"to\": \"Joe <support@interserver.net>\"\n}'\n```\n",
        "operationId" : "sendAdvMail",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "examples" : {
                "AdvSendExample" : {
                  "value" : {
                    "subject" : "Welcome",
                    "body" : "Hello",
                    "from" : {
                      "email" : "user@domain.com"
                    },
                    "to" : [ {
                      "email" : "someone@client.com",
                      "name" : "Mr Client"
                    } ],
                    "attachments" : [ {
                      "filename" : "message.txt",
                      "data" : "base64_encoded_contents"
                    } ],
                    "id" : 66
                  }
                }
              },
              "schema" : {
                "$ref" : "#/components/schemas/SendMailAdv"
              }
            },
            "application/json" : {
              "examples" : {
                "AdvSendExample" : {
                  "value" : {
                    "subject" : "Welcome",
                    "body" : "Hello",
                    "from" : {
                      "email" : "user@domain.com"
                    },
                    "to" : [ {
                      "email" : "someone@client.com",
                      "name" : "Mr Client"
                    } ],
                    "attachments" : [ {
                      "filename" : "message.txt",
                      "data" : "base64_encoded_contents"
                    } ],
                    "id" : 66
                  }
                }
              },
              "schema" : {
                "$ref" : "#/components/schemas/SendMailAdv"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GenericResponse"
                }
              }
            },
            "description" : "search results matching criteria"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "BadInputError" : {
                    "value" : {
                      "code" : 400,
                      "message" : "There was a problem with the input parameters."
                    }
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            },
            "description" : "Error message when there was a problem with the input parameters."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "UnauthorizedError" : {
                    "value" : {
                      "code" : 401,
                      "message" : "Unauthorized"
                    }
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "NotFoundError" : {
                    "value" : {
                      "code" : 404,
                      "message" : "The specified resource was not found."
                    }
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            },
            "description" : "The specified resource was not found"
          }
        },
        "summary" : "Sends an Email with Advanced Options",
        "tags" : [ "Sending" ]
      },
      "summary" : "Sends an Email with Advanced Options"
    },
    "/mail/log" : {
      "get" : {
        "description" : "Get a listing of the emails sent through this system\n",
        "operationId" : "viewMailLog",
        "parameters" : [ {
          "description" : "The ID of your mail order this will be sent through.",
          "example" : 2604,
          "explode" : true,
          "in" : "query",
          "name" : "id",
          "required" : false,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "originating ip address sending mail",
          "example" : "1.2.3.4",
          "explode" : true,
          "in" : "query",
          "name" : "origin",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "mx record mail was sent to",
          "example" : "mx.google.com",
          "explode" : true,
          "in" : "query",
          "name" : "mx",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "from email address",
          "example" : "me@sender.com",
          "explode" : true,
          "in" : "query",
          "name" : "from",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "to/destination email address",
          "example" : "you@receiver.com",
          "explode" : true,
          "in" : "query",
          "name" : "to",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "subject containing this string",
          "example" : "Support",
          "explode" : true,
          "in" : "query",
          "name" : "subject",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "mail id",
          "example" : "185997065c60008840",
          "explode" : true,
          "in" : "query",
          "name" : "mailid",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "number of records to skip for pagination",
          "example" : 1000,
          "explode" : true,
          "in" : "query",
          "name" : "skip",
          "required" : false,
          "schema" : {
            "default" : 0,
            "format" : "int32",
            "minimum" : 0,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "maximum number of records to return",
          "example" : 1000,
          "explode" : true,
          "in" : "query",
          "name" : "limit",
          "required" : false,
          "schema" : {
            "default" : 100,
            "format" : "int32",
            "maximum" : 10000,
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "earliest date to get emails in unix timestamp format",
          "example" : 1641781008,
          "explode" : true,
          "in" : "query",
          "name" : "startDate",
          "required" : false,
          "schema" : {
            "format" : "int64",
            "maximum" : 9999999999,
            "minimum" : 0,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "earliest date to get emails in unix timestamp format",
          "example" : 1673317008,
          "explode" : true,
          "in" : "query",
          "name" : "endDate",
          "required" : false,
          "schema" : {
            "format" : "int64",
            "maximum" : 9999999999,
            "minimum" : 0,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Reply-To Email Address",
          "explode" : true,
          "in" : "query",
          "name" : "replyto",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Header From Email Address",
          "explode" : true,
          "in" : "query",
          "name" : "headerfrom",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Limiting the emails to wether or not they were delivered.",
          "explode" : true,
          "in" : "query",
          "name" : "delivered",
          "required" : false,
          "schema" : {
            "enum" : [ "0", "1" ],
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "MailLogExample" : {
                    "value" : {
                      "total" : 1,
                      "skip" : 0,
                      "limit" : 100,
                      "emails" : [ {
                        "_id" : 103172,
                        "id" : "17c7eda538e0005d03",
                        "from" : "person@mysite.com",
                        "to" : "client@isp.com",
                        "subject" : "sell 0.005 shares",
                        "messageId" : "<vmiLEebsuCbSpUxD7oN3REpaN4VbN6BrdCAbNKIrdAo@relay0.mailbaby.net>",
                        "created" : "2021-10-14 08:50:10",
                        "time" : 1634215809,
                        "user" : "mb5658",
                        "transtype" : "ESMTPSA",
                        "origin" : "199.231.189.154",
                        "interface" : "feeder",
                        "sendingZone" : "interserver",
                        "bodySize" : 63,
                        "seq" : 1,
                        "delivered" : 1,
                        "recipient" : "client@isp.com",
                        "domain" : "interserver.net",
                        "locked" : 1,
                        "lockTime" : "1634215818533",
                        "assigned" : "relay1",
                        "queued" : "2021-10-14T12:50:15.487Z",
                        "mxHostname" : "mx.j.is.cc",
                        "response" : "250 2.0.0 Ok queued as C91D83E128C"
                      } ]
                    }
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/MailLog"
                }
              }
            },
            "description" : "search results matching criteria"
          },
          "400" : {
            "description" : "bad input parameter"
          }
        },
        "summary" : "displays the mail log",
        "tags" : [ "History" ]
      }
    },
    "/ping" : {
      "get" : {
        "operationId" : "pingServer",
        "responses" : {
          "200" : {
            "description" : "Server is up and running"
          },
          "default" : {
            "description" : "Something is wrong"
          }
        },
        "summary" : "Checks if the server is running",
        "tags" : [ "Status" ]
      }
    },
    "/mail/blocks/delete" : {
      "post" : {
        "description" : "Removes an email address from the various block lists.\n",
        "operationId" : "delistBlock",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "examples" : {
                "BlocksDeleteExample" : {
                  "value" : {
                    "email" : "client@domain.com"
                  }
                }
              },
              "schema" : {
                "$ref" : "#/components/schemas/EmailAddress"
              }
            },
            "multipart/form-data" : {
              "examples" : {
                "BlocksDeleteExampleForm" : {
                  "value" : {
                    "email" : "client@domain.com"
                  }
                }
              },
              "schema" : {
                "$ref" : "#/components/schemas/EmailAddress"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GenericResponse"
                }
              }
            },
            "description" : "search results matching criteria"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "BadInputError" : {
                    "value" : {
                      "code" : 400,
                      "message" : "There was a problem with the input parameters."
                    }
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            },
            "description" : "Error message when there was a problem with the input parameters."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "UnauthorizedError" : {
                    "value" : {
                      "code" : 401,
                      "message" : "Unauthorized"
                    }
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "NotFoundError" : {
                    "value" : {
                      "code" : 404,
                      "message" : "The specified resource was not found."
                    }
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            },
            "description" : "The specified resource was not found"
          }
        },
        "summary" : "Removes an email address from the blocked list",
        "tags" : [ "Blocking" ]
      }
    },
    "/mail/rules" : {
      "description" : "The deny rules allow you to setup assorted types of rules which will automatically deny the email from being sent through our system when  the citeria match.",
      "get" : {
        "description" : "Returns a listing of all the deny block rules you have configured.",
        "operationId" : "getRules",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "ExampleMailRulesList" : {
                    "value" : [ {
                      "id" : "14",
                      "user" : "mb20682",
                      "type" : "email",
                      "data" : "domeinwo@server.guesshost.net",
                      "created" : "2022-03-22 19:16:35"
                    }, {
                      "id" : "15",
                      "user" : "mb20682",
                      "type" : "email",
                      "data" : "mamediieva@thedigital.gov.ua",
                      "created" : "2022-03-22 19:18:01"
                    } ]
                  }
                },
                "schema" : {
                  "items" : {
                    "$ref" : "#/components/schemas/DenyRuleRecord"
                  },
                  "type" : "array"
                }
              }
            },
            "description" : "OK",
            "links" : {
              "delistBlockLink" : {
                "description" : "The `id` value returned in the response can be used as the `id` parameter in `GET /mail/advsend`.",
                "operationId" : "delistBlock",
                "parameters" : {
                  "id" : "$response.body#/0/id"
                }
              }
            }
          },
          "401" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "UnauthorizedError" : {
                    "value" : {
                      "code" : 401,
                      "message" : "Unauthorized"
                    }
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "UnauthorizedError" : {
                    "value" : {
                      "code" : 401,
                      "message" : "Unauthorized"
                    }
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            },
            "description" : "Unauthorized"
          }
        },
        "summary" : "Displays a listing of deny email rules.",
        "tags" : [ "Blocking" ]
      },
      "post" : {
        "description" : "Adds a new email deny rule into the system to block new emails that match the given criteria",
        "operationId" : "addRule",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "examples" : {
                "DenyRuleNewFormExample" : {
                  "value" : {
                    "user" : "mb20682",
                    "type" : "email",
                    "data" : "domeinwo@server.guesshost.net"
                  }
                }
              },
              "schema" : {
                "$ref" : "#/components/schemas/DenyRuleNew"
              }
            },
            "application/json" : {
              "examples" : {
                "DenyRuleNewJsonExample" : {
                  "value" : {
                    "user" : "mb20682",
                    "type" : "email",
                    "data" : "domeinwo@server.guesshost.net"
                  }
                }
              },
              "schema" : {
                "$ref" : "#/components/schemas/DenyRuleNew"
              }
            }
          },
          "description" : "These are the fields needed to create a new email deny rule.",
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GenericResponse"
                }
              }
            },
            "description" : "search results matching criteria"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "BadInputError" : {
                    "value" : {
                      "code" : 400,
                      "message" : "There was a problem with the input parameters."
                    }
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            },
            "description" : "Error message when there was a problem with the input parameters."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "UnauthorizedError" : {
                    "value" : {
                      "code" : 401,
                      "message" : "Unauthorized"
                    }
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "NotFoundError" : {
                    "value" : {
                      "code" : 404,
                      "message" : "The specified resource was not found."
                    }
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            },
            "description" : "The specified resource was not found"
          }
        },
        "summary" : "Creates a new email deny rule.",
        "tags" : [ "Blocking" ]
      },
      "summary" : "Deny Rules"
    },
    "/mail/rules/{ruleId}" : {
      "delete" : {
        "description" : "Removes one of the configured deny mail rules from the system.",
        "operationId" : "deleteRule",
        "parameters" : [ {
          "description" : "The ID of the Rules entry.",
          "examples" : {
            "RuleIdExample" : {
              "value" : "34"
            }
          },
          "explode" : false,
          "in" : "path",
          "name" : "ruleId",
          "required" : true,
          "schema" : {
            "type" : "integer"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GenericResponse"
                }
              }
            },
            "description" : "search results matching criteria"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "BadInputError" : {
                    "value" : {
                      "code" : 400,
                      "message" : "There was a problem with the input parameters."
                    }
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            },
            "description" : "Error message when there was a problem with the input parameters."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "UnauthorizedError" : {
                    "value" : {
                      "code" : 401,
                      "message" : "Unauthorized"
                    }
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "NotFoundError" : {
                    "value" : {
                      "code" : 404,
                      "message" : "The specified resource was not found."
                    }
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            },
            "description" : "The specified resource was not found"
          }
        },
        "summary" : "Removes an deny mail rule.",
        "tags" : [ "Blocking" ]
      }
    },
    "/mail/stats" : {
      "get" : {
        "description" : "Returns information about the usage on your mail accounts.",
        "operationId" : "getStats",
        "parameters" : [ {
          "description" : "The timeframe for the statistics.",
          "explode" : true,
          "in" : "query",
          "name" : "time",
          "required" : false,
          "schema" : {
            "enum" : [ "all", "billing", "month", "7d", "24h", "1d", "1h" ],
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MailStatsType"
                }
              }
            },
            "description" : "OK",
            "links" : {
              "delistBlockLink" : {
                "description" : "The `id` value returned in the response can be used as the `id` parameter in `GET /mail/advsend`.",
                "operationId" : "delistBlock",
                "parameters" : {
                  "id" : "$response.body#/0/id"
                }
              }
            }
          },
          "401" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "UnauthorizedError" : {
                    "value" : {
                      "code" : 401,
                      "message" : "Unauthorized"
                    }
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "UnauthorizedError" : {
                    "value" : {
                      "code" : 401,
                      "message" : "Unauthorized"
                    }
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            },
            "description" : "Unauthorized"
          }
        },
        "summary" : "Account usage statistics.",
        "tags" : [ "History" ]
      }
    }
  },
  "components" : {
    "responses" : {
      "BadInput" : {
        "content" : {
          "application/json" : {
            "examples" : {
              "BadInputError" : {
                "value" : {
                  "code" : 400,
                  "message" : "There was a problem with the input parameters."
                }
              }
            },
            "schema" : {
              "$ref" : "#/components/schemas/ErrorMessage"
            }
          }
        },
        "description" : "Error message when there was a problem with the input parameters."
      },
      "NotFound" : {
        "content" : {
          "application/json" : {
            "examples" : {
              "NotFoundError" : {
                "value" : {
                  "code" : 404,
                  "message" : "The specified resource was not found."
                }
              }
            },
            "schema" : {
              "$ref" : "#/components/schemas/ErrorMessage"
            }
          }
        },
        "description" : "The specified resource was not found"
      },
      "Unauthorized" : {
        "content" : {
          "application/json" : {
            "examples" : {
              "UnauthorizedError" : {
                "value" : {
                  "code" : 401,
                  "message" : "Unauthorized"
                }
              }
            },
            "schema" : {
              "$ref" : "#/components/schemas/ErrorMessage"
            }
          }
        },
        "description" : "Unauthorized"
      }
    },
    "schemas" : {
      "GenericResponse" : {
        "properties" : {
          "status" : {
            "example" : "ok",
            "type" : "string"
          },
          "text" : {
            "example" : "The command completed successfully.",
            "type" : "string"
          }
        },
        "type" : "object"
      },
      "ErrorMessage" : {
        "description" : "The resposne when an error occurs.",
        "example" : {
          "code" : 400,
          "message" : "There was an error."
        },
        "properties" : {
          "code" : {
            "description" : "The response code associated with the error.",
            "example" : 400,
            "format" : "int32",
            "type" : "integer"
          },
          "message" : {
            "description" : "The details or description of the error.",
            "example" : "There was an error.",
            "type" : "string"
          }
        },
        "required" : [ "code", "message" ],
        "title" : "ErrorMessage",
        "type" : "object"
      },
      "EmailAddressName" : {
        "description" : "An email contact.",
        "example" : {
          "email" : "user@domain.com",
          "name" : "John Smith"
        },
        "properties" : {
          "email" : {
            "description" : "The email address.",
            "example" : "user@domain.com",
            "type" : "string"
          },
          "name" : {
            "description" : "Name to use for the sending contact.",
            "example" : "John Smith",
            "type" : "string"
          }
        },
        "required" : [ "email" ],
        "title" : "EmailAddressName",
        "type" : "object"
      },
      "DenyRuleRecord" : {
        "allOf" : [ {
          "properties" : {
            "id" : {
              "description" : "The deny rule Id number.",
              "example" : "41124",
              "type" : "string"
            },
            "created" : {
              "description" : "the date the rule was created.",
              "format" : "date-time",
              "type" : "string"
            }
          },
          "required" : [ "created", "id" ],
          "type" : "object"
        }, {
          "$ref" : "#/components/schemas/DenyRuleNew"
        } ],
        "description" : "The data for a email deny rule record.",
        "example" : {
          "id" : 14,
          "user" : "mb20682",
          "type" : "email",
          "data" : "domeinwo@server.guesshost.net",
          "created" : "2022-03-22 19:16:35"
        },
        "title" : "DenyRuleRecord",
        "type" : "object"
      },
      "DenyRuleNew" : {
        "description" : "The data for a email deny rule record.",
        "example" : {
          "user" : "mb20682",
          "type" : "email",
          "data" : "domeinwo@server.guesshost.net"
        },
        "properties" : {
          "user" : {
            "description" : "Mail account username that will be tied to this rule.  If not specified the first active mail order will be used.",
            "example" : "mb20682",
            "type" : "string"
          },
          "type" : {
            "description" : "The type of deny rule.",
            "enum" : [ "domain", "email", "startswith", "destination" ],
            "example" : "email",
            "type" : "string"
          },
          "data" : {
            "description" : "The content of the rule.  If a domain type rule then an example would be google.com. For a begins with type an example would be msgid-.  For the email typer an example would be user@server.com.",
            "example" : "domeinwo@server.guesshost.net",
            "type" : "string"
          }
        },
        "required" : [ "data", "type" ],
        "title" : "DenyRuleNew",
        "type" : "object"
      },
      "MailAttachment" : {
        "description" : "(optional) File attachments to include in the email.  The file contents must be base64",
        "example" : {
          "filename" : "file.txt",
          "data" : "base64_encoded_file_contents"
        },
        "properties" : {
          "filename" : {
            "description" : "The filename of the attached file.",
            "example" : "message.txt",
            "type" : "string"
          },
          "data" : {
            "description" : "The file contents base64 encoded",
            "example" : "aGVsbG8gdGhlcmUK",
            "type" : "string"
          }
        },
        "required" : [ "data", "filename" ],
        "title" : "MailAttachment",
        "type" : "object"
      },
      "MailBlockClickHouse" : {
        "description" : "A block entry from the clickhouse mailblocks server.",
        "example" : {
          "date" : "2023-08-07",
          "from" : "user@domain.com",
          "messageId" : "pFaRqFUEWkucjhTuIzYuoAgWU@domain.com",
          "subject" : "Test Email",
          "to" : "['client@site.com']"
        },
        "properties" : {
          "date" : {
            "format" : "date",
            "type" : "string"
          },
          "from" : {
            "type" : "string"
          },
          "messageId" : {
            "type" : "string"
          },
          "subject" : {
            "type" : "string"
          },
          "to" : {
            "type" : "string"
          }
        },
        "required" : [ "date", "from", "messageId", "subject", "to" ],
        "title" : "MailBlockClickHouse",
        "type" : "object"
      },
      "MailBlockRspamd" : {
        "description" : "This is a block entry from the rspamd block list.",
        "example" : {
          "from" : "user@domain.com",
          "subject" : "Test email"
        },
        "properties" : {
          "from" : {
            "type" : "string"
          },
          "subject" : {
            "type" : "string"
          }
        },
        "required" : [ "from", "subject" ],
        "title" : "MailBlockRspamd",
        "type" : "object"
      },
      "MailBlocks" : {
        "description" : "The listing of blocked emails.",
        "example" : {
          "local" : [ {
            "date" : "2023-08-07",
            "from" : "user@domain.com",
            "messageId" : "pFaRqFUEWkucjhTuIzYuoAgWU@domain.com",
            "subject" : "Test Email",
            "to" : "['client@site.com']"
          } ],
          "mbtrap" : [ {
            "date" : "2023-08-07",
            "from" : "user@domain.com",
            "messageId" : "pFaRqFUEWkucjhTuIzYuoAgWU@domain.com",
            "subject" : "Test Email",
            "to" : "['client@site.com']"
          } ],
          "subject" : [ {
            "from" : "user@domain.com",
            "subject" : "Test Email"
          } ]
        },
        "properties" : {
          "local" : {
            "items" : {
              "$ref" : "#/components/schemas/MailBlockClickHouse"
            },
            "type" : "array"
          },
          "mbtrap" : {
            "items" : {
              "$ref" : "#/components/schemas/MailBlockClickHouse"
            },
            "type" : "array"
          },
          "subject" : {
            "items" : {
              "$ref" : "#/components/schemas/MailBlockRspamd"
            },
            "type" : "array"
          }
        },
        "required" : [ "local", "mbtrap", "subject" ],
        "title" : "MailBlocks",
        "type" : "object"
      },
      "MailLog" : {
        "description" : "Mail log records",
        "example" : {
          "total" : 1,
          "skip" : 0,
          "limit" : 100,
          "emails" : [ {
            "_id" : 103172,
            "id" : "17c7eda538e0005d03",
            "from" : "person@mysite.com",
            "to" : "client@isp.com",
            "subject" : "sell 0.005 shares",
            "messageId" : "<vmiLEebsuCbSpUxD7oN3REpaN4VbN6BrdCAbNKIrdAo@relay0.mailbaby.net>",
            "created" : "2021-10-14T08:50:10.000Z",
            "time" : 1634215809,
            "user" : "mb5658",
            "transtype" : "ESMTPSA",
            "origin" : "199.231.189.154",
            "interface" : "feeder",
            "sendingZone" : "interserver",
            "bodySize" : 63,
            "seq" : 1,
            "delivered" : 1,
            "recipient" : "client@isp.com",
            "domain" : "interserver.net",
            "locked" : 1,
            "lockTime" : "1634215818533",
            "assigned" : "relay1",
            "queued" : "2021-10-14T12:50:15.487Z",
            "mxHostname" : "mx.j.is.cc",
            "response" : "250 2.0.0 Ok queued as C91D83E128C"
          } ]
        },
        "properties" : {
          "total" : {
            "description" : "total number of mail log entries",
            "example" : 10234,
            "type" : "integer"
          },
          "skip" : {
            "description" : "number of emails skipped in listing",
            "example" : 0,
            "type" : "integer"
          },
          "limit" : {
            "description" : "number of emails to return",
            "example" : 100,
            "type" : "integer"
          },
          "emails" : {
            "example" : "[{\n    \"_id\": 103172,\n    \"id\": \"17c7eda538e0005d03\",\n    \"from\": \"person@mysite.com\",\n    \"to\": \"client@isp.com\",\n    \"subject\": \"sell 0.005 shares\",\n    \"messageId\": \"<vmiLEebsuCbSpUxD7oN3REpaN4VbN6BrdCAbNKIrdAo@relay0.mailbaby.net>\",\n    \"created\": \"2021-10-14 08:50:10\",\n    \"time\": 1634215809,\n    \"user\": \"mb5658\",\n    \"transtype\": \"ESMTPSA\",\n    \"origin\": \"199.231.189.154\",\n    \"interface\": \"feeder\",\n    \"sendingZone\": \"interserver\",\n    \"bodySize\": 63,\n    \"seq\": 1,\n    \"recipient\": \"client@isp.com\",\n    \"domain\": \"interserver.net\",\n    \"locked\": 1,\n    \"lockTime\": \"1634215818533\",\n    \"assigned\": \"relay1\",\n    \"queued\": \"2021-10-14T12:50:15.487Z\",\n    \"mxHostname\": \"mx.j.is.cc\",\n    \"response\": \"250 2.0.0 Ok queued as C91D83E128C\"\n}]",
            "items" : {
              "$ref" : "#/components/schemas/MailLogEntry"
            },
            "type" : "array"
          }
        },
        "required" : [ "emails", "limit", "skip", "total" ],
        "title" : "MailLog",
        "type" : "object"
      },
      "MailOrder" : {
        "description" : "A mail order record",
        "example" : {
          "id" : 21472,
          "status" : "active",
          "username" : "mb21472"
        },
        "properties" : {
          "id" : {
            "description" : "The ID of the order.",
            "example" : 21472,
            "format" : "int32",
            "type" : "integer"
          },
          "status" : {
            "description" : "The order status.",
            "example" : "active",
            "type" : "string"
          },
          "username" : {
            "description" : "The username to use for this order.",
            "example" : "mb21472",
            "type" : "string"
          },
          "comment" : {
            "description" : "Optional order comment.",
            "type" : "string"
          }
        },
        "required" : [ "id", "status", "username" ],
        "title" : "MailOrder",
        "type" : "object"
      },
      "SendMail" : {
        "description" : "Details for an Email",
        "properties" : {
          "to" : {
            "description" : "The Contact whom is the primary recipient of this email.",
            "example" : "johndoe@company.com",
            "type" : "string"
          },
          "from" : {
            "description" : "The contact whom is the this email is from.",
            "example" : "janedoe@company.com",
            "type" : "string"
          },
          "subject" : {
            "description" : "The subject or title of the email",
            "example" : "Attention Client",
            "type" : "string"
          },
          "body" : {
            "description" : "The main email contents.",
            "example" : "This is an email to inform you that something noteworthy happened.",
            "type" : "string"
          }
        },
        "required" : [ "body", "from", "subject", "to" ],
        "title" : "SendMail",
        "type" : "object"
      },
      "EmailAddressNames" : {
        "description" : "Array of Email Addresses",
        "example" : [ {
          "email" : "user@domain.com",
          "name" : "John Smith"
        } ],
        "items" : {
          "$ref" : "#/components/schemas/EmailAddressName"
        },
        "title" : "EmailAddressNames",
        "type" : "array"
      },
      "SendMailAdv" : {
        "description" : "Details for an Email",
        "example" : {
          "subject" : "Welcome",
          "body" : "Hello",
          "from" : "user@domain.com",
          "to" : "someone@client.com",
          "cc" : [ {
            "email" : "someone2@client.com",
            "name" : "Mr Client"
          }, {
            "email" : "someone3@client.com",
            "name" : "Mr Client"
          } ],
          "attachments" : [ {
            "filename" : "file.txt",
            "data" : "base64_encoded_contents"
          } ],
          "id" : 66
        },
        "properties" : {
          "subject" : {
            "description" : "The subject or title of the email",
            "example" : "Your Package has been Delivered!",
            "type" : "string"
          },
          "body" : {
            "description" : "The main email contents.",
            "example" : "The package you ordered on 2021-01-23 has been delivered. If the package is broken into many pieces, please blaim someone else.",
            "type" : "string"
          },
          "from" : {
            "$ref" : "#/components/schemas/EmailAddressTypes"
          },
          "to" : {
            "$ref" : "#/components/schemas/EmailAddressesTypes"
          },
          "replyto" : {
            "$ref" : "#/components/schemas/EmailAddressesTypes"
          },
          "cc" : {
            "$ref" : "#/components/schemas/EmailAddressesTypes"
          },
          "bcc" : {
            "$ref" : "#/components/schemas/EmailAddressesTypes"
          },
          "attachments" : {
            "description" : "(optional) File attachments to include in the email.  The file contents must be base64 encoded!",
            "example" : "[\n        {\n            \"filename\": \"text.txt\",\n            \"data\": \"base64_encoded_contents\"\n        }\n]",
            "items" : {
              "$ref" : "#/components/schemas/MailAttachment"
            },
            "type" : "array"
          },
          "id" : {
            "description" : "(optional)  ID of the Mail order within our system to use as the Mail Account.",
            "example" : 5000,
            "format" : "int64",
            "type" : "integer"
          }
        },
        "required" : [ "body", "from", "subject", "to" ],
        "title" : "SendMailAdv",
        "type" : "object"
      },
      "MailLogEntry" : {
        "description" : "An email record",
        "example" : {
          "_id" : 103172,
          "id" : "17c7eda538e0005d03",
          "from" : "person@mysite.com",
          "to" : "client@isp.com",
          "subject" : "sell 0.005 shares",
          "messageId" : "<vmiLEebsuCbSpUxD7oN3REpaN4VbN6BrdCAbNKIrdAo@relay0.mailbaby.net>",
          "created" : "2021-10-14 08:50:10",
          "time" : 1634215809,
          "user" : "mb5658",
          "transtype" : "ESMTPSA",
          "origin" : "199.231.189.154",
          "interface" : "feeder",
          "sendingZone" : "interserver",
          "bodySize" : 63,
          "seq" : 1,
          "delivered" : 1,
          "recipient" : "client@isp.com",
          "domain" : "interserver.net",
          "locked" : 1,
          "lockTime" : "1634215818533",
          "assigned" : "relay1",
          "queued" : "2021-10-14T12:50:15.487Z",
          "mxHostname" : "mx.j.is.cc",
          "response" : "250 2.0.0 Ok queued as C91D83E128C"
        },
        "properties" : {
          "_id" : {
            "description" : "internal db id",
            "example" : 103172,
            "type" : "integer"
          },
          "id" : {
            "description" : "mail id",
            "example" : "17c7eda538e0005d03",
            "type" : "string"
          },
          "from" : {
            "description" : "from address",
            "example" : "person@mysite.com",
            "type" : "string"
          },
          "to" : {
            "description" : "to address",
            "example" : "client@isp.com",
            "type" : "string"
          },
          "subject" : {
            "description" : "email subject",
            "example" : "sell 0.005 shares",
            "type" : "string"
          },
          "messageId" : {
            "description" : "message id",
            "example" : "<vmiLEebsuCbSpUxD7oN3REpaN4VbN6BrdCAbNKIrdAo@relay0.mailbaby.net>",
            "type" : "string"
          },
          "created" : {
            "description" : "creation date",
            "example" : "2021-10-14 08:50:10",
            "type" : "string"
          },
          "time" : {
            "description" : "creation timestamp",
            "example" : 1634215809,
            "type" : "integer"
          },
          "user" : {
            "description" : "user account",
            "example" : "mb5658",
            "type" : "string"
          },
          "transtype" : {
            "description" : "transaction type",
            "example" : "ESMTPSA",
            "type" : "string"
          },
          "origin" : {
            "description" : "origin ip",
            "example" : "199.231.189.154",
            "type" : "string"
          },
          "interface" : {
            "description" : "interface name",
            "example" : "feeder",
            "type" : "string"
          },
          "sendingZone" : {
            "description" : "sending zone",
            "example" : "interserver",
            "type" : "string"
          },
          "bodySize" : {
            "description" : "email body size in bytes",
            "example" : 63,
            "type" : "integer"
          },
          "seq" : {
            "description" : "index of email in the to adderess list",
            "example" : 1,
            "type" : "integer"
          },
          "recipient" : {
            "description" : "to address this email is being sent to",
            "example" : "client@isp.com",
            "type" : "string"
          },
          "domain" : {
            "description" : "to address domain",
            "example" : "interserver.net",
            "type" : "string"
          },
          "locked" : {
            "description" : "locked status",
            "example" : 1,
            "type" : "integer"
          },
          "lockTime" : {
            "description" : "lock timestamp",
            "example" : "1634215818533",
            "type" : "string"
          },
          "assigned" : {
            "description" : "assigned server",
            "example" : "relay1",
            "type" : "string"
          },
          "queued" : {
            "description" : "queued timestamp",
            "example" : "2021-10-14T12:50:15.487Z",
            "type" : "string"
          },
          "mxHostname" : {
            "description" : "mx hostname",
            "example" : "mx.j.is.cc",
            "type" : "string"
          },
          "response" : {
            "description" : "mail delivery response",
            "example" : "250 2.0.0 Ok queued as C91D83E128C",
            "type" : "string"
          }
        },
        "required" : [ "_id", "assigned", "bodySize", "created", "domain", "from", "id", "interface", "lockTime", "locked", "mxHostname", "origin", "queued", "recipient", "response", "sendingZone", "seq", "subject", "time", "to", "transtype", "user" ],
        "title" : "MailLogEntry",
        "type" : "object"
      },
      "EmailAddress" : {
        "description" : "an email address",
        "example" : "user@domain.com",
        "type" : "string"
      },
      "EmailAddressesTypes" : {
        "description" : "",
        "oneOf" : [ {
          "$ref" : "#/components/schemas/EmailAddress"
        }, {
          "$ref" : "#/components/schemas/EmailAddressNames"
        } ],
        "title" : "EmailAddressTypes"
      },
      "EmailAddressTypes" : {
        "description" : "",
        "oneOf" : [ {
          "$ref" : "#/components/schemas/EmailAddress"
        }, {
          "$ref" : "#/components/schemas/EmailAddressName"
        } ],
        "title" : "EmailAddressTypes"
      },
      "MailStatsType" : {
        "description" : "Statistics about the mail usage including volume by IP, To address, and From address; as well as total sent / delivered counts and cost.",
        "example" : {
          "time" : "all",
          "usage" : 55,
          "currency" : "USD",
          "currencySymbol" : "$",
          "cost" : 1.02,
          "received" : 508,
          "sent" : 495,
          "volume" : {
            "to" : {
              "client@domain.com" : 395,
              "user@site.net" : 57,
              "sales@company.com" : 47,
              "client@anothersite.com" : 9
            },
            "from" : {
              "billing@somedomain.com" : 369,
              "sales@somedomain.com" : 139
            },
            "ip" : {
              "1.1.1.1" : 142,
              "2.2.2.2" : 132,
              "3.3.3.3" : 129,
              "4.4.4.4" : 105
            }
          }
        },
        "properties" : {
          "time" : {
            "default" : "1h",
            "enum" : [ "all", "billing", "month", "7d", "24h", "today", "1h" ],
            "type" : "string"
          },
          "usage" : {
            "format" : "int32",
            "type" : "integer"
          },
          "currency" : {
            "type" : "string"
          },
          "currencySymbol" : {
            "type" : "string"
          },
          "cost" : {
            "format" : "double",
            "type" : "number"
          },
          "received" : {
            "format" : "int32",
            "type" : "integer"
          },
          "sent" : {
            "format" : "int32",
            "type" : "integer"
          },
          "volume" : {
            "$ref" : "#/components/schemas/MailStatsType_volume"
          }
        },
        "title" : "Root Type for MailStatsType",
        "type" : "object"
      },
      "MailStatsType_volume_to" : {
        "properties" : {
          "client@domain.com" : {
            "format" : "int32",
            "type" : "integer"
          },
          "user@site.net" : {
            "format" : "int32",
            "type" : "integer"
          },
          "sales@company.com" : {
            "format" : "int32",
            "type" : "integer"
          },
          "client@anothersite.com" : {
            "format" : "int32",
            "type" : "integer"
          }
        },
        "type" : "object"
      },
      "MailStatsType_volume_from" : {
        "properties" : {
          "billing@somedomain.com" : {
            "format" : "int32",
            "type" : "integer"
          },
          "sales@somedomain.com" : {
            "format" : "int32",
            "type" : "integer"
          }
        },
        "type" : "object"
      },
      "MailStatsType_volume_ip" : {
        "properties" : {
          "1.1.1.1" : {
            "format" : "int32",
            "type" : "integer"
          },
          "2.2.2.2" : {
            "format" : "int32",
            "type" : "integer"
          },
          "3.3.3.3" : {
            "format" : "int32",
            "type" : "integer"
          },
          "4.4.4.4" : {
            "format" : "int32",
            "type" : "integer"
          }
        },
        "type" : "object"
      },
      "MailStatsType_volume" : {
        "properties" : {
          "to" : {
            "$ref" : "#/components/schemas/MailStatsType_volume_to"
          },
          "from" : {
            "$ref" : "#/components/schemas/MailStatsType_volume_from"
          },
          "ip" : {
            "$ref" : "#/components/schemas/MailStatsType_volume_ip"
          }
        },
        "type" : "object"
      }
    },
    "securitySchemes" : {
      "apiKeyAuth" : {
        "description" : "This authentication method uses a X-API-KEY HTTP header with the API Key from your account for validation.",
        "in" : "header",
        "name" : "X-API-KEY",
        "type" : "apiKey"
      }
    }
  }
}