/*
 * MailBaby Email Delivery and Management Service API
 * **Send emails fast and with confidence through our easy to use [REST](https://en.wikipedia.org/wiki/Representational_state_transfer) API interface.** # Overview This is the API interface to the [Mail Baby](https//mail.baby/) Mail services provided by [InterServer](https://www.interserver.net). To use this service you must have an account with us at [my.interserver.net](https://my.interserver.net). # Authentication In order to use most of the API calls you must pass credentials from the [my.interserver.net](https://my.interserver.net/) site. We support several different authentication methods but the preferred method is to use the **API Key** which you can get from the [Account Security](https://my.interserver.net/account_security) page. 
 *
 * The version of the OpenAPI document: 1.3.0
 * Contact: support@interserver.net
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.DenyRuleRecord;
import org.openapitools.model.ErrorMessage;
import org.openapitools.model.GenericResponse;
import org.openapitools.model.MailBlocks;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2025-11-14T05:49:32.766208726-05:00[America/New_York]", comments = "Generator version: 7.17.0")
@Client("${openapi-micronaut-client-base-path}")
public interface BlockingApi {
    /**
     * Creates a new email deny rule.
     * Adds a new email deny rule into the system to block new emails that match the given criteria
     *
     * @param type The type of deny rule. (required)
     * @param data The content of the rule.  If a domain type rule then an example would be google.com. For a begins with type an example would be msgid-.  For the email typer an example would be user@server.com. (required)
     * @param user Mail account username that will be tied to this rule.  If not specified the first active mail order will be used. (optional)
     * @return GenericResponse
     */
    @Post(uri="/mail/rules")
    @Consumes({"application/json"})
    @Produces({"application/x-www-form-urlencoded", "application/json"})
    Mono<GenericResponse> addRule(
        @NotNull String type, 
        @NotNull String data, 
        @Nullable String user
    );

    /**
     * Removes an deny mail rule.
     * Removes one of the configured deny mail rules from the system.
     *
     * @param ruleId The ID of the Rules entry. (required)
     * @return GenericResponse
     */
    @Delete(uri="/mail/rules/{ruleId}")
    @Consumes({"application/json"})
    Mono<GenericResponse> deleteRule(
        @PathVariable(name="ruleId") @NotNull Integer ruleId
    );

    /**
     * Removes an email address from the blocked list
     * Removes an email address from the various block lists. 
     *
     * @param _body  (required)
     * @return GenericResponse
     */
    @Post(uri="/mail/blocks/delete")
    @Consumes({"application/json"})
    @Produces({"application/json", "multipart/form-data"})
    Mono<GenericResponse> delistBlock(
        @Body @NotNull String _body
    );

    /**
     * displays a list of blocked email addresses
     *
     * @return MailBlocks
     */
    @Get(uri="/mail/blocks")
    @Consumes({"application/json"})
    Mono<MailBlocks> getMailBlocks();

    /**
     * Displays a listing of deny email rules.
     * Returns a listing of all the deny block rules you have configured.
     *
     * @return List&lt;DenyRuleRecord&gt;
     */
    @Get(uri="/mail/rules")
    @Consumes({"application/json"})
    Mono<List<DenyRuleRecord>> getRules();

}
