/*
 * MailBaby Email Delivery and Management Service API
 * **Send emails fast and with confidence through our easy to use [REST](https://en.wikipedia.org/wiki/Representational_state_transfer) API interface.** # Overview This is the API interface to the [Mail Baby](https//mail.baby/) Mail services provided by [InterServer](https://www.interserver.net). To use this service you must have an account with us at [my.interserver.net](https://my.interserver.net). # Authentication In order to use most of the API calls you must pass credentials from the [my.interserver.net](https://my.interserver.net/) site. We support several different authentication methods but the preferred method is to use the **API Key** which you can get from the [Account Security](https://my.interserver.net/account_security) page. 
 *
 * The version of the OpenAPI document: 1.1.0
 * Contact: support@interserver.net
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.EmailAddressName;
import org.openapitools.model.GenericResponse;
import org.openapitools.model.GetMailOrders401Response;
import org.openapitools.model.MailAttachment;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2023-08-10T12:35:27.219130-04:00[America/New_York]")
@Client("${openapi-micronaut-client-base-path}")
public interface SendingApi {
    /**
     * Sends an Email with Advanced Options
     * Sends An email through one of your mail orders allowing additional options such as file attachments, cc, bcc, etc.
     *
     * @param subject The subject or title of the email (required)
     * @param _body The main email contents. (required)
     * @param from  (required)
     * @param to A list of destionation email addresses to send this to (required)
     * @param replyto (optional) A list of email addresses that specify where replies to the email should be sent instead of the _from_ address. (optional)
     * @param cc (optional) A list of email addresses to carbon copy this message to.  They are listed on the email and anyone getting the email can see this full list of Contacts who received the email as well. (optional)
     * @param bcc (optional) list of email addresses that should receive copies of the email.  They are hidden on the email and anyone gettitng the email would not see the other people getting the email in this list. (optional)
     * @param attachments (optional) File attachments to include in the email.  The file contents must be base64 encoded! (optional)
     * @param id (optional)  ID of the Mail order within our system to use as the Mail Account. (optional)
     * @return GenericResponse
     */
    @Post(uri="/mail/advsend")
    @Consumes({"application/json"})
    @Produces({"application/x-www-form-urlencoded", "application/json"})
    Mono<GenericResponse> sendAdvMail(
        @NotNull String subject, 
        @NotNull String _body, 
        @NotNull @Valid EmailAddressName from, 
        @NotNull List<EmailAddressName> to, 
        @Nullable List<EmailAddressName> replyto, 
        @Nullable List<EmailAddressName> cc, 
        @Nullable List<EmailAddressName> bcc, 
        @Nullable List<MailAttachment> attachments, 
        @Nullable Long id
    );

    /**
     * Sends an Email
     * Sends an email through one of your mail orders.  *Note*: If you want to send to multiple recipients or use file attachments use the advsend (Advanced Send) call instead. 
     *
     * @param to The Contact whom is the primary recipient of this email. (required)
     * @param from The contact whom is the this email is from. (required)
     * @param subject The subject or title of the email (required)
     * @param _body The main email contents. (required)
     * @return GenericResponse
     */
    @Post(uri="/mail/send")
    @Consumes({"application/json"})
    @Produces({"application/x-www-form-urlencoded", "application/json"})
    Mono<GenericResponse> sendMail(
        @NotNull String to, 
        @NotNull String from, 
        @NotNull String subject, 
        @NotNull String _body
    );

}
