openapi: 3.0.3
info:
  contact:
    email: support@interserver.net
    name: Mail Baby
    url: https://www.mail.baby/contact/
  description: |
    **Send emails fast and with confidence through our easy to use [REST](https://en.wikipedia.org/wiki/Representational_state_transfer) API interface.**

    # Overview

    This is the API interface to the [Mail Baby](https://mail.baby/) Mail services provided by [InterServer](https://www.interserver.net). To use this service you must have an account with us at [my.interserver.net](https://my.interserver.net).

    # Mail Orders

    Every sending account in MailBaby is backed by a **Mail Order** — a provisioned sending credential with a numeric `id` and a corresponding SMTP username (`mb<id>`).  Most calls accept an optional `id` parameter; when omitted the API automatically selects the first active order on your account. Use `GET /mail` to list all orders, and `GET /mail/{id}` to inspect a single order including its current SMTP password.

    # Sending Email

    Three sending methods are available depending on your use-case:
    | Endpoint | Best for | |----------|----------| | `POST /mail/send` | Simple single-recipient messages | | `POST /mail/advsend` | Multiple recipients, CC/BCC, attachments, named contacts | | `POST /mail/rawsend` | Pre-built RFC 822 messages (e.g. DKIM-signed payloads) |

    After a successful send each endpoint returns a `GenericResponse` whose `text` field contains the **transaction ID** assigned by the relay.  This ID can later be matched against entries in `GET /mail/log` via the `mailid` query parameter.

    # Filtering & Logs

    `GET /mail/log` provides paginated access to every message accepted by the relay for your account.  Combine any of the query parameters to narrow results — e.g. `from`, `to`, `subject`, `messageId`, `origin`, `mx`, `startDate`/`endDate`, and `delivered`.

    # Blocking

    Two independent mechanisms exist for suppressing unwanted email:
    - **Block lists** (`GET /mail/blocks`, `POST /mail/blocks/delete`) — addresses flagged by the
      system spam filters (LOCAL_BL_RCPT / MBTRAP rules in rspamd, and suspicious subjects).
    - **Deny rules** (`GET /mail/rules`, `POST /mail/rules`, `DELETE /mail/rules/{ruleId}`) —
      custom rules you configure to reject specific senders, domains, destination addresses, or
      subject-line prefixes before a message is even attempted.


    # Authentication

    In order to use most of the API calls you must pass credentials from the [my.interserver.net](https://my.interserver.net/) site.
    We support several different authentication methods but the preferred method is to use the **API Key** which you can get from the [Account Security](https://my.interserver.net/account_security) page.
    Pass your key in the `X-API-KEY` HTTP request header for every protected call.
  license:
    name: GNU GPLv3
    url: https://www.gnu.org/licenses/gpl.txt
  termsOfService: https://www.interserver.net/terms-of-service.html
  title: MailBaby Email Delivery and Management Service API
  version: 1.4.0
externalDocs:
  description: MailBaby FAQ & Tips
  url: https://www.mail.baby/tips/
servers:
- description: Live API Endpoint
  url: https://api.mailbaby.net
security:
- apiKeyAuth: []
tags:
- description: Service health / uptime checks.
  name: Status
- description: View and manage your MailBaby mail service orders.
  name: Services
- description: "Send email via simple, advanced, or raw RFC 822 message submission."
  name: Sending
- description: Manage block lists and custom deny rules to prevent unwanted outbound
    email.
  name: Blocking
- description: Query sent mail logs and account usage statistics.
  name: History
paths:
  /ping:
    get:
      description: |
        A lightweight health-check endpoint.  Returns a plain-text `200 OK` when the API server is reachable.  No authentication is required.  Useful for monitoring and uptime checks.
      operationId: pingServer
      responses:
        "200":
          description: Server is up and running
        default:
          description: Something is wrong
      summary: Checks if the server is running
      tags:
      - Status
      x-accepts:
      - application/json
  /mail:
    get:
      description: |
        Returns every mail order (active **and** inactive) associated with your account. Each record includes the numeric `id`, the `status` (`active` or `canceled`), the SMTP `username` (always `mb<id>`), and an optional human-readable `comment`.

        The `id` values returned here are used as the `id` input parameter on all sending endpoints (`/mail/send`, `/mail/advsend`, `/mail/rawsend`) as well as the log and stats queries.  When the `id` parameter is omitted on those calls the API automatically picks the **first active** order returned by this endpoint.

        To retrieve full details — including the current SMTP password — for a single order use `GET /mail/{id}`.
      operationId: getMailOrders
      responses:
        "200":
          content:
            application/json:
              examples:
                MailOrders:
                  value:
                  - id: 39
                    status: active
                    username: mb39
                  - id: 33
                    status: canceled
                    username: mb33
                    comment: test order
              schema:
                items:
                  $ref: "#/components/schemas/MailOrder"
                type: array
          description: OK
          links:
            getMailOrderById:
              description: "The `id` value returned in the response can be used as\
                \ the `id` path parameter in `GET /mail/{id}` to retrieve full order\
                \ details."
              operationId: getMailOrderById
              parameters:
                id: $response.body#/0/id
            sendMailByIdLink:
              description: The `id` value returned in the response can be used as
                the `id` body parameter in `POST /mail/send`.
              operationId: sendMail
              parameters:
                id: $response.body#/0/id
            sendAdvMailByIdLink:
              description: The `id` value returned in the response can be used as
                the `id` body parameter in `POST /mail/advsend`.
              operationId: sendAdvMail
              parameters:
                id: $response.body#/0/id
            viewMailLogByIdLink:
              description: The `id` value returned in the response can be used as
                the `id` query parameter in `GET /mail/log`.
              operationId: viewMailLog
              parameters:
                id: $response.body#/0/id
            getStatsByIdLink:
              description: The `id` value returned in the response can be used as
                the `id` query parameter in `GET /mail/stats`.
              operationId: getStats
              parameters:
                id: $response.body#/0/id
        "401":
          content:
            application/json:
              examples:
                UnauthorizedError:
                  value:
                    code: 401
                    message: API key is missing or invalid
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: "Authentication failed.  Ensure you are sending a valid `X-API-KEY`\
            \ header. Obtain your API key from [my.interserver.net/account_security](https://my.interserver.net/account_security)."
      summary: Displays a list of mail service orders
      tags:
      - Services
      x-accepts:
      - application/json
  /mail/{id}:
    get:
      description: |
        Returns the full detail record for one specific mail order identified by its numeric `id`.  In addition to the fields returned by `GET /mail`, this endpoint also includes the current **SMTP password** for the order.

        The `username` and `password` values returned here can be used directly to authenticate against `relay.mailbaby.net:25` (SMTP AUTH) if you need to send email via a native SMTP client rather than through the REST API.

        The `id` path parameter is the same integer `id` value returned by `GET /mail`.
      operationId: getMailOrderById
      parameters:
      - description: The numeric ID of the mail order.
        example: 39
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                MailOrderDetail:
                  value:
                    id: 39
                    status: active
                    username: mb39
                    password: s3cr3tpassword
              schema:
                $ref: "#/components/schemas/MailOrderDetail"
          description: OK
        "400":
          content:
            application/json:
              examples:
                BadInputError:
                  value:
                    code: 400
                    message: There was a problem with the input parameters.
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Bad request — one or more input parameters were missing or
            invalid.
        "401":
          content:
            application/json:
              examples:
                UnauthorizedError:
                  value:
                    code: 401
                    message: API key is missing or invalid
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: "Authentication failed.  Ensure you are sending a valid `X-API-KEY`\
            \ header. Obtain your API key from [my.interserver.net/account_security](https://my.interserver.net/account_security)."
        "404":
          content:
            application/json:
              examples:
                NotFoundError:
                  value:
                    code: 404
                    message: The specified resource was not found.
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: The specified resource was not found or does not belong to
            your account.
      summary: Displays details for a single mail order
      tags:
      - Services
      x-accepts:
      - application/json
  /mail/send:
    post:
      description: |
        Sends an email through one of your mail orders using a simple flat set of fields. This is the quickest way to send a single-recipient plain-text or HTML message.

        **HTML detection** is automatic — if the `body` value contains any HTML tags the message will be sent as `text/html`; otherwise it is sent as `text/plain`.

        The `from` address is also automatically set as the `Reply-To` header.

        *Note*: If you need to send to multiple recipients, add CC/BCC, or include file attachments, use `POST /mail/advsend` instead.  If you have a pre-built RFC 822 message (e.g. already DKIM-signed), use `POST /mail/rawsend`.

        On success the response `text` field contains the relay transaction ID.  This ID can be used with `GET /mail/log` (via the `mailid` query parameter) to look up the delivery record.
      operationId: sendMail
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/SendMail"
          application/json:
            schema:
              $ref: "#/components/schemas/SendMail"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                SendSuccess:
                  value:
                    status: ok
                    text: 185caa69ff7000f47c
              schema:
                $ref: "#/components/schemas/GenericResponse"
          description: Email accepted for delivery
          links:
            lookupByTransactionId:
              description: The transaction ID in `text` can be passed as `mailid`
                to `GET /mail/log` to retrieve the delivery record.
              operationId: viewMailLog
              parameters:
                mailid: $response.body#/text
        "400":
          content:
            application/json:
              examples:
                BadInputError:
                  value:
                    code: 400
                    message: There was a problem with the input parameters.
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Bad request — one or more input parameters were missing or
            invalid.
        "401":
          content:
            application/json:
              examples:
                UnauthorizedError:
                  value:
                    code: 401
                    message: API key is missing or invalid
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: "Authentication failed.  Ensure you are sending a valid `X-API-KEY`\
            \ header. Obtain your API key from [my.interserver.net/account_security](https://my.interserver.net/account_security)."
        "404":
          content:
            application/json:
              examples:
                NotFoundError:
                  value:
                    code: 404
                    message: The specified resource was not found.
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: The specified resource was not found or does not belong to
            your account.
      summary: Sends an Email
      tags:
      - Sending
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /mail/rawsend:
    post:
      description: |
        Accepts a complete, pre-built RFC 822 email message (headers + body) as a string and injects it into the relay without any modification.

        This endpoint is particularly useful when the message has already been **DKIM-signed** — because the relay transmits the exact bytes you provide, the DKIM signature remains intact.  If you use the other sending endpoints the relay may add or reorder headers, breaking an existing signature.

        The `From` and recipient addresses are parsed automatically from the message headers (`From`, `To`, `Cc`, `Bcc`).  You do **not** need to specify them separately.

        If an `id` is provided it must correspond to an active mail order on your account. If omitted, the first active order is selected automatically.  The SMTP credentials for the selected order are used to authenticate with the relay.

        On success the response `text` field contains the relay transaction ID.  This ID can be used with `GET /mail/log` (via the `mailid` query parameter) to look up the delivery record.
      operationId: rawMail
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendMailRaw"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SendMailRaw"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                RawSendSuccess:
                  value:
                    status: ok
                    text: 185caa69ff7000f47c
              schema:
                $ref: "#/components/schemas/GenericResponse"
          description: Email accepted for delivery
          links:
            lookupByTransactionId:
              description: The transaction ID in `text` can be passed as `mailid`
                to `GET /mail/log` to retrieve the delivery record.
              operationId: viewMailLog
              parameters:
                mailid: $response.body#/text
        "400":
          content:
            application/json:
              examples:
                BadInputError:
                  value:
                    code: 400
                    message: There was a problem with the input parameters.
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Bad request — one or more input parameters were missing or
            invalid.
        "401":
          content:
            application/json:
              examples:
                UnauthorizedError:
                  value:
                    code: 401
                    message: API key is missing or invalid
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: "Authentication failed.  Ensure you are sending a valid `X-API-KEY`\
            \ header. Obtain your API key from [my.interserver.net/account_security](https://my.interserver.net/account_security)."
        "404":
          content:
            application/json:
              examples:
                NotFoundError:
                  value:
                    code: 404
                    message: The specified resource was not found.
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: The specified resource was not found or does not belong to
            your account.
      summary: Sends a raw RFC 822 email
      tags:
      - Sending
      x-content-type: application/json
      x-accepts:
      - application/json
  /mail/advsend:
    post:
      description: |
        Sends an email through one of your mail orders with full control over recipients, headers, and attachments.  Supports multiple To / CC / BCC addresses, named contacts, Reply-To overrides, and base64-encoded file attachments.

        **Content-type flexibility** — the request body may be submitted as either `application/x-www-form-urlencoded` or `application/json`.  When using form encoding, address fields (`from`, `to`, `replyto`, `cc`, `bcc`) accept both a plain RFC 822 comma-separated string (e.g. `"Joe <joe@example.com>, jane@example.com"`) and the structured `[{"email":"...","name":"..."}]` array format.  When using JSON, both formats are equally supported.

        **HTML detection** is automatic — if `body` contains HTML tags the `Content-Type` is set to `text/html`; otherwise `text/plain`.

        **Attachments** must be base64-encoded.  Each attachment requires at least a `data` field; the optional `filename` field controls the attachment name shown to recipients.

        If an `id` is provided it must correspond to an active mail order on your account. If omitted, the first active order is selected automatically.

        On success the response `text` field contains the relay transaction ID which can be looked up in `GET /mail/log` via the `mailid` query parameter.

        ## Examples

        ### Form — basic string addresses
        ```sh curl -X POST https://api.mailbaby.net/mail/advsend \
          -H 'X-API-KEY: YOUR_API_KEY' \
          -H 'Content-Type: application/x-www-form-urlencoded' \
          -d 'subject=Welcome' \
          -d 'body=Hello' \
          -d from=user@domain.com \
          -d to=support@interserver.net
        ```
        ### Form — RFC 822 named addresses
        ```sh curl -X POST https://api.mailbaby.net/mail/advsend \
          -H 'X-API-KEY: YOUR_API_KEY' \
          -H 'Content-Type: application/x-www-form-urlencoded' \
          -d 'subject=Welcome' \
          -d 'body=Hello' \
          -d 'from=Joe <user@domain.com>' \
          -d 'to=Jane <support@interserver.net>'
        ```
        ### Form — multiple recipients as array
        ```sh curl -X POST https://api.mailbaby.net/mail/advsend \
          -H 'X-API-KEY: YOUR_API_KEY' \
          -H 'Content-Type: application/x-www-form-urlencoded' \
          -d 'subject=Welcome' -d 'body=Hello' \
          -d from=user@domain.com \
          -d 'to[0][name]=Joe' -d 'to[0][email]=support@interserver.net' \
          -d 'to[1][name]=Jane' -d 'to[1][email]=jane@interserver.net'
        ```
        ### JSON — structured objects
        ```sh curl -X POST https://api.mailbaby.net/mail/advsend \
          -H 'X-API-KEY: YOUR_API_KEY' \
          -H 'Content-Type: application/json' \
          -d '{
            "subject": "Welcome",
            "body": "<h1>Hello</h1>",
            "from": {"email": "user@domain.com", "name": "Sender Name"},
            "to": [{"email": "joe@client.com", "name": "Joe Client"}],
            "cc": [{"email": "manager@client.com"}],
            "attachments": [{"filename": "report.pdf", "data": "BASE64_DATA"}]
          }'
        ```
      operationId: sendAdvMail
      requestBody:
        content:
          application/x-www-form-urlencoded:
            examples:
              BasicForm:
                summary: Simple string addresses
                value:
                  subject: Welcome
                  body: Hello
                  from: user@domain.com
                  to: support@interserver.net
              NamedForm:
                summary: RFC 822 named addresses
                value:
                  subject: Welcome
                  body: Hello
                  from: Joe <user@domain.com>
                  to: Jane <support@interserver.net>
              AdvSendExample:
                summary: Structured array with attachment
                value:
                  subject: Welcome
                  body: Hello
                  from:
                    email: user@domain.com
                  to:
                  - email: someone@client.com
                    name: Mr Client
                  attachments:
                  - filename: message.txt
                    data: base64_encoded_contents
                  id: 66
            schema:
              $ref: "#/components/schemas/SendMailAdv"
          application/json:
            examples:
              BasicJson:
                summary: Plain string addresses
                value:
                  subject: Welcome
                  body: Hello
                  from: user@domain.com
                  to: support@interserver.net
              ArrayJson:
                summary: Structured objects
                value:
                  subject: Welcome
                  body: Hello
                  from:
                    name: Joe
                    email: user@domain.com
                  to:
                  - name: Joe
                    email: support@interserver.net
              NameEmailJson:
                summary: RFC 822 named string
                value:
                  subject: Welcome
                  body: Hello
                  from: Joe <user@domain.com>
                  to: Joe <support@interserver.net>
              FullExample:
                summary: "Full-featured with CC, attachment, id"
                value:
                  subject: Welcome
                  body: Hello
                  from:
                    email: user@domain.com
                    name: Sender Name
                  to:
                  - email: someone@client.com
                    name: Mr Client
                  cc:
                  - email: someone2@client.com
                    name: Mr Second
                  bcc:
                  - email: archive@company.com
                  replyto:
                  - email: replies@domain.com
                  attachments:
                  - filename: message.txt
                    data: base64_encoded_contents
                  id: 66
            schema:
              $ref: "#/components/schemas/SendMailAdv"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                SendSuccess:
                  value:
                    status: ok
                    text: 185caa69ff7000f47c
              schema:
                $ref: "#/components/schemas/GenericResponse"
          description: Email accepted for delivery
          links:
            lookupByTransactionId:
              description: The transaction ID in `text` can be passed as `mailid`
                to `GET /mail/log` to retrieve the delivery record.
              operationId: viewMailLog
              parameters:
                mailid: $response.body#/text
        "400":
          content:
            application/json:
              examples:
                BadInputError:
                  value:
                    code: 400
                    message: There was a problem with the input parameters.
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Bad request — one or more input parameters were missing or
            invalid.
        "401":
          content:
            application/json:
              examples:
                UnauthorizedError:
                  value:
                    code: 401
                    message: API key is missing or invalid
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: "Authentication failed.  Ensure you are sending a valid `X-API-KEY`\
            \ header. Obtain your API key from [my.interserver.net/account_security](https://my.interserver.net/account_security)."
        "404":
          content:
            application/json:
              examples:
                NotFoundError:
                  value:
                    code: 404
                    message: The specified resource was not found.
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: The specified resource was not found or does not belong to
            your account.
      summary: Sends an Email with Advanced Options
      tags:
      - Sending
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /mail/log:
    get:
      description: |
        Returns a paginated list of every email message accepted by the relay for your mail account(s).  All filter parameters are optional and combinable.

        **Pagination** is controlled by `skip` and `limit`.  The response includes a `total` count so clients can determine how many pages exist.

        **Date filtering** uses Unix timestamps (`startDate` / `endDate`).  For example, to retrieve emails sent in January 2024: `startDate=1704067200&endDate=1706745599`.

        **Delivery status** can be filtered with the `delivered` parameter: `delivered=1` returns only successfully delivered messages; `delivered=0` returns messages still in queue or that failed.

        **Address filtering** distinguishes between the SMTP envelope address (`from`, `to`) and message headers (`headerfrom` for the `From:` header, `replyto` for `Reply-To:`). These may differ when a message is sent on behalf of another address.

        The `mailid` parameter corresponds to the `id` field in the returned `MailLogEntry` objects, **not** the `_id` field.  It also matches the transaction ID returned in the `text` field of a successful send response from `/mail/send`, `/mail/advsend`, or `/mail/rawsend`.

        The `messageId` parameter searches the `Message-ID` email header (case-insensitive substring match).
      operationId: viewMailLog
      parameters:
      - description: "The numeric ID of the mail order to filter by.  When omitted,\
          \ logs from the first active mail order are returned.  Obtain valid IDs\
          \ from `GET /mail` or `GET /mail/{id}`."
        example: 2604
        explode: true
        in: query
        name: id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Filter by the originating IP address from which the message was
          submitted to the relay.  Must be a valid IPv4 or IPv6 address.
        example: 1.2.3.4
        explode: true
        in: query
        name: origin
        required: false
        schema:
          type: string
        style: form
      - description: Filter by the MX hostname the relay attempted delivery to.  For
          example `mx.google.com` would return messages destined for Gmail recipients.
          Maps to `mxHostname` in the `MailLogEntry` response.
        example: mx.google.com
        explode: true
        in: query
        name: mx
        required: false
        schema:
          type: string
        style: form
      - description: Filter by SMTP envelope `MAIL FROM` address (exact match).  This
          is the address the relay used for bounce handling and may differ from the
          `From:` message header.  For header-level filtering use `headerfrom`.
        example: me@sender.com
        explode: true
        in: query
        name: from
        required: false
        schema:
          format: email
          type: string
        style: form
      - description: Filter by SMTP envelope `RCPT TO` address (exact match).  This
          is the delivery address used by the relay and may differ from the `To:`
          header when BCC recipients are involved.
        example: you@receiver.com
        explode: true
        in: query
        name: to
        required: false
        schema:
          format: email
          type: string
        style: form
      - description: "Filter by email `Subject` header (exact match).  To search for\
          \ a substring, include it in the full subject text."
        example: Your order has shipped
        explode: true
        in: query
        name: subject
        required: false
        schema:
          type: string
        style: form
      - description: Filter by the relay-assigned mail ID string (exact match).  This
          corresponds to the `id` field in `MailLogEntry` and to the `text` value
          returned by the sending endpoints on success.  Format is an 18–19 character
          hexadecimal string such as `185997065c60008840`.
        example: 185997065c60008840
        explode: true
        in: query
        name: mailid
        required: false
        schema:
          maxLength: 19
          minLength: 18
          type: string
        style: form
      - description: Filter by the `Message-ID` email header using a substring (case-insensitive)
          match.  The `Message-ID` is assigned by the sending mail client and is visible
          in the `messageId` field of `MailLogEntry`.  Useful when you know the message
          ID generated by your application but not the relay `mailid`.
        example: <abc123@yourdomain.com>
        explode: true
        in: query
        name: messageId
        required: false
        schema:
          type: string
        style: form
      - description: Filter by the `Reply-To` message header address (exact match).  Only
          returns messages where this header was explicitly set.
        example: replies@sender.com
        explode: true
        in: query
        name: replyto
        required: false
        schema:
          format: email
          type: string
        style: form
      - description: Filter by the `From` message header address (exact match).  This
          is the human-visible sender address and may differ from the SMTP envelope
          `from` parameter when sending on behalf of another address.
        example: newsletter@sender.com
        explode: true
        in: query
        name: headerfrom
        required: false
        schema:
          format: email
          type: string
        style: form
      - description: "Filter by delivery status.  `1` returns only messages that were\
          \ successfully delivered to the destination MX.  `0` returns messages that\
          \ are still queued, deferred, or failed.  Omit to return all messages regardless\
          \ of delivery status."
        example: 1
        explode: true
        in: query
        name: delivered
        required: false
        schema:
          enum:
          - 0
          - 1
          type: integer
        style: form
      - description: Number of records to skip for pagination.  Use in combination
          with `limit` to page through large result sets.  Defaults to `0` (no skip).
        example: 0
        explode: true
        in: query
        name: skip
        required: false
        schema:
          default: 0
          format: int32
          minimum: 0
          type: integer
        style: form
      - description: Maximum number of records to return per page.  Defaults to `100`.
          Maximum allowed value is `10000`.  The response also includes a `total`
          field with the full matched count so you can calculate the number of pages.
        example: 100
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          format: int32
          maximum: 10000
          minimum: 1
          type: integer
        style: form
      - description: "Earliest date to include, as a Unix timestamp (seconds since\
          \ epoch). Messages with a `time` value **greater than or equal to** this\
          \ value will be included."
        example: 1641781008
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: int64
          maximum: 9999999999
          minimum: 0
          type: integer
        style: form
      - description: "Latest date to include, as a Unix timestamp (seconds since epoch).\
          \ Messages with a `time` value **less than or equal to** this value will\
          \ be included."
        example: 1673317008
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: int64
          maximum: 9999999999
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                MailLogExample:
                  value:
                    total: 1
                    skip: 0
                    limit: 100
                    emails:
                    - _id: 103172
                      id: 17c7eda538e0005d03
                      from: person@mysite.com
                      to: client@isp.com
                      subject: sell 0.005 shares
                      messageId: <vmiLEebsuCbSpUxD7oN3REpaN4VbN6BrdCAbNKIrdAo@relay0.mailbaby.net>
                      created: 2021-10-14 08:50:10
                      time: 1634215809
                      user: mb5658
                      transtype: ESMTPSA
                      origin: 199.231.189.154
                      interface: feeder
                      sendingZone: interserver
                      bodySize: 63
                      seq: 1
                      delivered: 1
                      recipient: client@isp.com
                      domain: interserver.net
                      locked: 1
                      lockTime: "1634215818533"
                      assigned: relay1
                      queued: 2021-10-14T12:50:15.487Z
                      mxHostname: mx.j.is.cc
                      response: 250 2.0.0 Ok queued as C91D83E128C
              schema:
                $ref: "#/components/schemas/MailLog"
          description: Paginated list of mail log entries
          links:
            delistSenderBlock:
              description: A `from` address returned in the log can be passed as `email`
                to `POST /mail/blocks/delete` to remove a block on that sender.
              operationId: delistBlock
              parameters:
                email: $response.body#/emails/0/from
        "400":
          content:
            application/json:
              examples:
                BadInputError:
                  value:
                    code: 400
                    message: There was a problem with the input parameters.
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Bad request — one or more input parameters were missing or
            invalid.
        "401":
          content:
            application/json:
              examples:
                UnauthorizedError:
                  value:
                    code: 401
                    message: API key is missing or invalid
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: "Authentication failed.  Ensure you are sending a valid `X-API-KEY`\
            \ header. Obtain your API key from [my.interserver.net/account_security](https://my.interserver.net/account_security)."
      summary: Displays the mail log
      tags:
      - History
      x-accepts:
      - application/json
  /mail/stats:
    get:
      description: |
        Returns aggregate sending statistics for your mail account(s) across a selectable time window.  Useful for dashboards, billing reviews, and detecting unusual traffic patterns.

        The response includes:
        - **`usage`** — total messages accepted by the relay during the current billing
          cycle (used for cost calculation).
        - **`cost`** — estimated cost for the billing cycle based on the base plan price
          plus per-email charges.
        - **`received`** / **`sent`** — count of messages accepted by the relay /
          successfully delivered to the destination MX within the selected `time` window.
        - **`volume`** — top-500 breakdown of message counts grouped by source IP (`ip`),
          destination address (`to`), and sender address (`from`) within the selected window.


        **Time windows** (controlled by the `time` parameter):
        | Value | Window | |-------|--------| | `1h` | Last 1 hour (default) | | `24h` | Last 24 hours | | `7d` | Last 7 days | | `month` | Current calendar month (1st to now) | | `day` | Today (midnight to now) | | `billing` | Current billing cycle (last invoice date to next invoice date) | | `all` | All time |
      operationId: getStats
      parameters:
      - description: "The time window to scope `received`, `sent`, and `volume` statistics.\
          \ Does not affect `usage` or `cost`, which are always calculated over the\
          \ current billing cycle.  Defaults to `1h`."
        explode: true
        in: query
        name: time
        required: false
        schema:
          default: 1h
          enum:
          - all
          - billing
          - month
          - 7d
          - 24h
          - day
          - 1h
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                StatsExample:
                  value:
                    time: all
                    usage: 55
                    currency: USD
                    cost: 1.02
                    received: 508
                    sent: 495
                    volume:
                      to:
                        client@domain.com: 395
                        user@site.net: 57
                      from:
                        billing@somedomain.com: 369
                      ip:
                        "1.1.1.1": 142
                        "2.2.2.2": 132
              schema:
                $ref: "#/components/schemas/MailStatsType"
          description: OK
        "401":
          content:
            application/json:
              examples:
                UnauthorizedError:
                  value:
                    code: 401
                    message: API key is missing or invalid
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: "Authentication failed.  Ensure you are sending a valid `X-API-KEY`\
            \ header. Obtain your API key from [my.interserver.net/account_security](https://my.interserver.net/account_security)."
      summary: Account usage statistics
      tags:
      - History
      x-accepts:
      - application/json
  /mail/blocks:
    get:
      description: |
        Returns addresses and messages that have been flagged by the spam filtering system for your mail account(s).  Three categories are returned:

        - **`local`** — messages flagged by the `LOCAL_BL_RCPT` rspamd rule.  These are
          messages sent to recipients on your account's local block list.
        - **`mbtrap`** — messages flagged by the `MBTRAP` rspamd rule.  These are messages
          that triggered MailBaby's internal trap / honeypot detection.
        - **`subject`** — senders whose recent messages contain spam-indicative subjects
          (strings containing `@`, `smtp`, `socks4`, or `socks5`) with high repetition
          (more than 4 identical subjects from the same sender in the last 3 days).


        The `local` and `mbtrap` results cover the last 5 days.  The `subject` results cover the last 3 days.

        A sender address returned in any of these lists can be delisted using `POST /mail/blocks/delete` with the `email` field set to that address.
      operationId: getMailBlocks
      responses:
        "200":
          content:
            application/json:
              examples:
                MailBlocksExample:
                  value:
                    local:
                    - date: 2023-08-07
                      from: user@domain.com
                      messageId: pFaRqFUEWkucjhTuIzYuoAgWU@domain.com
                      subject: Test Email
                      to: "['client@site.com']"
                    mbtrap:
                    - date: 2023-08-07
                      from: user@domain.com
                      messageId: pFaRqFUEWkucjhTuIzYuoAgWU@domain.com
                      subject: Test Email
                      to: "['client@site.com']"
                    subject:
                    - from: user@domain.com
                      subject: Test Email
              schema:
                $ref: "#/components/schemas/MailBlocks"
          description: OK
          links:
            delistBlockLink:
              description: The `from` address in any block list entry can be passed
                as the `email` field to `POST /mail/blocks/delete` to delist it.
              operationId: delistBlock
              parameters:
                email: $response.body#/local/0/from
        "401":
          content:
            application/json:
              examples:
                UnauthorizedError:
                  value:
                    code: 401
                    message: API key is missing or invalid
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: "Authentication failed.  Ensure you are sending a valid `X-API-KEY`\
            \ header. Obtain your API key from [my.interserver.net/account_security](https://my.interserver.net/account_security)."
      summary: Displays a list of blocked email addresses
      tags:
      - Blocking
      x-accepts:
      - application/json
  /mail/blocks/delete:
    post:
      description: |
        Delists an email address from all three block list stores:
        1. The rspamd spam-filter database (`fromemail` / envelope sender records). 2. The MailChannels integration block table. 3. The MailBaby internal block table.

        Use `GET /mail/blocks` to discover which addresses are currently blocked.  The `from` field in any returned block entry is a valid input for this call.

        **Note:** Delisting an address removes it from the block tracking databases but does not prevent the spam filter from re-blocking it if future messages continue to trigger filter rules.
      operationId: delistBlock
      requestBody:
        content:
          application/json:
            examples:
              BlocksDeleteExample:
                value:
                  email: client@domain.com
            schema:
              $ref: "#/components/schemas/EmailAddressParam"
          multipart/form-data:
            examples:
              BlocksDeleteExampleForm:
                value:
                  email: client@domain.com
            schema:
              $ref: "#/components/schemas/EmailAddressParam"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                DelistSuccess:
                  value:
                    status: ok
                    text: record deleted
              schema:
                $ref: "#/components/schemas/GenericResponse"
          description: Address successfully delisted
        "400":
          content:
            application/json:
              examples:
                BadInputError:
                  value:
                    code: 400
                    message: There was a problem with the input parameters.
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Bad request — one or more input parameters were missing or
            invalid.
        "401":
          content:
            application/json:
              examples:
                UnauthorizedError:
                  value:
                    code: 401
                    message: API key is missing or invalid
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: "Authentication failed.  Ensure you are sending a valid `X-API-KEY`\
            \ header. Obtain your API key from [my.interserver.net/account_security](https://my.interserver.net/account_security)."
        "404":
          content:
            application/json:
              examples:
                NotFoundError:
                  value:
                    code: 404
                    message: The specified resource was not found.
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: The specified resource was not found or does not belong to
            your account.
      summary: Removes an email address from the block lists
      tags:
      - Blocking
      x-content-type: application/json
      x-accepts:
      - application/json
  /mail/rules:
    get:
      description: |
        Returns all deny rules you have configured for your active mail account(s). Deny rules are evaluated **before** a message is transmitted and cause it to be rejected immediately when it matches.

        Four rule types are supported:
        | `type` | `data` format | Effect | |--------|---------------|--------| | `email` | `user@domain.com` | Rejects any message from this exact sender address | | `domain` | `domain.com` | Rejects any message from any address at this domain | | `destination` | `user@domain.com` | Rejects any message addressed to this recipient | | `startswith` | `prefix` | Rejects any message whose sender address begins with this string (alphanumeric, `+`, `_`, `.`, `-` only) |

        Use `POST /mail/rules` to add new rules and `DELETE /mail/rules/{ruleId}` to remove them.  The `id` field in each returned record is the value needed for the delete call.
      operationId: getRules
      responses:
        "200":
          content:
            application/json:
              examples:
                ExampleMailRulesList:
                  value:
                  - id: "14"
                    user: mb20682
                    type: email
                    data: domeinwo@server.guesshost.net
                    created: 2022-03-22 19:16:35
                  - id: "15"
                    user: mb20682
                    type: domain
                    data: guesshost.net
                    created: 2022-03-22 19:18:01
              schema:
                items:
                  $ref: "#/components/schemas/DenyRuleRecord"
                type: array
          description: OK
          links:
            deleteRuleLink:
              description: "The `id` value returned in the response can be used as\
                \ the `ruleId` path parameter in `DELETE /mail/rules/{ruleId}`."
              operationId: deleteRule
              parameters:
                ruleId: $response.body#/0/id
        "401":
          content:
            application/json:
              examples:
                UnauthorizedError:
                  value:
                    code: 401
                    message: API key is missing or invalid
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: "Authentication failed.  Ensure you are sending a valid `X-API-KEY`\
            \ header. Obtain your API key from [my.interserver.net/account_security](https://my.interserver.net/account_security)."
      summary: Displays a listing of deny email rules
      tags:
      - Blocking
      x-accepts:
      - application/json
    post:
      description: |
        Adds a deny rule to block specific senders, domains, destinations, or sender prefixes from being relayed through your mail account.

        The `type` field selects the matching strategy:
        - **`email`** — exact match against the SMTP envelope `MAIL FROM` address. - **`domain`** — matches any sender address at the specified domain. - **`destination`** — exact match against the SMTP envelope `RCPT TO` address. - **`startswith`** — matches any sender address whose local-part (the portion
          before the `@`) starts with the given string.  Only alphanumeric characters
          and `+`, `_`, `.`, `-` are permitted in the prefix.


        If `username` is provided it must be the SMTP username of one of your active mail orders (e.g. `mb20682`).  If omitted the rule is associated with your first active order.

        On success the response `text` field contains the newly created rule's `id`, which can later be passed to `DELETE /mail/rules/{ruleId}` to remove it.
      operationId: addRule
      requestBody:
        content:
          application/x-www-form-urlencoded:
            examples:
              DenyEmailForm:
                summary: Block a specific sender
                value:
                  type: email
                  data: spammer@badactor.net
              DenyDomainForm:
                summary: Block an entire domain
                value:
                  type: domain
                  data: badactor.net
              DenyStartsWithForm:
                summary: Block sender prefix
                value:
                  type: startswith
                  data: noreply-spam
            schema:
              $ref: "#/components/schemas/DenyRuleNew"
          application/json:
            examples:
              DenyRuleNewJsonExample:
                value:
                  user: mb20682
                  type: email
                  data: domeinwo@server.guesshost.net
            schema:
              $ref: "#/components/schemas/DenyRuleNew"
        description: Fields required to create a new email deny rule.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                AddRuleSuccess:
                  value:
                    status: ok
                    text: "42"
              schema:
                $ref: "#/components/schemas/GenericResponse"
          description: Rule created successfully
          links:
            deleteCreatedRule:
              description: "The rule `id` returned in `text` can be passed as `ruleId`\
                \ to `DELETE /mail/rules/{ruleId}` to remove this rule."
              operationId: deleteRule
              parameters:
                ruleId: $response.body#/text
        "400":
          content:
            application/json:
              examples:
                BadInputError:
                  value:
                    code: 400
                    message: There was a problem with the input parameters.
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Bad request — one or more input parameters were missing or
            invalid.
        "401":
          content:
            application/json:
              examples:
                UnauthorizedError:
                  value:
                    code: 401
                    message: API key is missing or invalid
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: "Authentication failed.  Ensure you are sending a valid `X-API-KEY`\
            \ header. Obtain your API key from [my.interserver.net/account_security](https://my.interserver.net/account_security)."
        "404":
          content:
            application/json:
              examples:
                NotFoundError:
                  value:
                    code: 404
                    message: The specified resource was not found.
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: The specified resource was not found or does not belong to
            your account.
      summary: Creates a new email deny rule
      tags:
      - Blocking
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /mail/rules/{ruleId}:
    delete:
      description: |
        Permanently removes a single deny rule identified by its numeric `ruleId`.

        The `ruleId` is the `id` field returned by `GET /mail/rules` or the `text` field from a successful `POST /mail/rules` response.

        Only rules belonging to your own active mail account(s) can be deleted — the server will reject attempts to delete rules that belong to a different account.
      operationId: deleteRule
      parameters:
      - description: The numeric ID of the deny rule to delete.  Obtain this from
          the `id` field in `GET /mail/rules` or the `text` field of a `POST /mail/rules`
          response.
        examples:
          RuleIdExample:
            value: 34
        explode: false
        in: path
        name: ruleId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                DeleteSuccess:
                  value:
                    status: ok
                    text: record deleted
              schema:
                $ref: "#/components/schemas/GenericResponse"
          description: Rule deleted successfully
        "400":
          content:
            application/json:
              examples:
                BadInputError:
                  value:
                    code: 400
                    message: There was a problem with the input parameters.
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Bad request — one or more input parameters were missing or
            invalid.
        "401":
          content:
            application/json:
              examples:
                UnauthorizedError:
                  value:
                    code: 401
                    message: API key is missing or invalid
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: "Authentication failed.  Ensure you are sending a valid `X-API-KEY`\
            \ header. Obtain your API key from [my.interserver.net/account_security](https://my.interserver.net/account_security)."
        "404":
          content:
            application/json:
              examples:
                NotFoundError:
                  value:
                    code: 404
                    message: The specified resource was not found.
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: The specified resource was not found or does not belong to
            your account.
      summary: Removes a deny mail rule
      tags:
      - Blocking
      x-accepts:
      - application/json
components:
  responses:
    BadInput:
      content:
        application/json:
          examples:
            BadInputError:
              value:
                code: 400
                message: There was a problem with the input parameters.
          schema:
            $ref: "#/components/schemas/ErrorMessage"
      description: Bad request — one or more input parameters were missing or invalid.
    NotFound:
      content:
        application/json:
          examples:
            NotFoundError:
              value:
                code: 404
                message: The specified resource was not found.
          schema:
            $ref: "#/components/schemas/ErrorMessage"
      description: The specified resource was not found or does not belong to your
        account.
    Unauthorized:
      content:
        application/json:
          examples:
            UnauthorizedError:
              value:
                code: 401
                message: API key is missing or invalid
          schema:
            $ref: "#/components/schemas/ErrorMessage"
      description: "Authentication failed.  Ensure you are sending a valid `X-API-KEY`\
        \ header. Obtain your API key from [my.interserver.net/account_security](https://my.interserver.net/account_security)."
  schemas:
    GenericResponse:
      description: "Standard success response returned by write operations (send,\
        \ add rule, delete, etc.).  The `status` field is always `\"ok\"` on success.\
        \  The `text` field carries operation-specific data — for sending calls it\
        \ contains the relay transaction ID; for create calls it contains the new\
        \ record's ID; for delete calls it contains a confirmation string."
      example:
        text: 185caa69ff7000f47c
        status: ok
      properties:
        status:
          description: Always `"ok"` on success.
          example: ok
          type: string
        text:
          description: Operation-specific result string.  For send operations this
            is the relay transaction ID (e.g. `185caa69ff7000f47c`) which can be used
            as the `mailid` parameter in `GET /mail/log`.  For create operations this
            is the new record's numeric ID.  For delete operations this is a human-readable
            confirmation.
          example: 185caa69ff7000f47c
          type: string
      title: GenericResponse
      type: object
    ErrorMessage:
      description: The response body returned when an error occurs.
      example:
        code: 400
        message: There was an error.
      properties:
        code:
          description: The HTTP-style status code associated with the error.
          example: 400
          format: int32
          type: integer
        message:
          description: A human-readable description of the error.
          example: The specified ID was invalid.
          type: string
      required:
      - code
      - message
      title: ErrorMessage
      type: object
    MailOrder:
      description: A mail service order record.  Each order represents one provisioned
        sending account with a dedicated SMTP username.  The `id` is the numeric identifier
        used across most API calls.  The `username` is always `mb<id>` and is the
        SMTP AUTH username for `relay.mailbaby.net`.
      example:
        id: 21472
        status: active
        username: mb21472
      properties:
        id:
          description: "The unique numeric ID of the mail order.  Used as the `id`\
            \ parameter on sending calls, log queries, and stats queries."
          example: 21472
          format: int32
          type: integer
        status:
          description: The current order status.  Only `active` orders can be used
            for sending. `canceled` orders are retained for history but cannot send.
          example: active
          type: string
        username:
          description: "The SMTP AUTH username for this order, always in the format\
            \ `mb<id>`. Use together with the password from `GET /mail/{id}` to authenticate\
            \ directly against `relay.mailbaby.net:25` if needed."
          example: mb21472
          type: string
        comment:
          description: Optional human-readable note associated with the order.
          type: string
      required:
      - id
      - status
      - username
      title: MailOrder
      type: object
    MailOrderDetail:
      allOf:
      - $ref: "#/components/schemas/MailOrder"
      - properties:
          password:
            description: The current SMTP AUTH password for this mail order.  Use
              with the `username` field to authenticate against `relay.mailbaby.net:25`.
            example: s3cr3tpassword
            type: string
        required:
        - password
        type: object
      description: "Extended mail order record including the current SMTP password.\
        \  Returned by `GET /mail/{id}`.  The `username` and `password` fields can\
        \ be used to authenticate directly against `relay.mailbaby.net:25` via SMTP\
        \ AUTH if you prefer to send via a native SMTP client rather than the REST\
        \ API."
      example:
        id: 21472
        status: active
        username: mb21472
        password: s3cr3tpassword
      title: MailOrderDetail
    EmailAddressName:
      description: "An email contact with an optional display name.  Used in structured\
        \ address fields (`from`, `to`, `cc`, `bcc`, `replyto`) in `SendMailAdv`."
      example:
        email: user@domain.com
        name: John Smith
      properties:
        email:
          description: The email address.
          example: user@domain.com
          format: email
          type: string
        name:
          description: Optional display name shown to recipients (e.g. in the `From:`
            header).
          example: John Smith
          type: string
      required:
      - email
      title: EmailAddressName
      type: object
    EmailAddressNames:
      description: "An array of email contacts, each with an email address and optional\
        \ display name."
      example:
      - email: user@domain.com
        name: John Smith
      items:
        $ref: "#/components/schemas/EmailAddressName"
      title: EmailAddressNames
      type: array
    EmailAddressParam:
      description: A single email address parameter used as the body of `POST /mail/blocks/delete`.
      example:
        email: user@domain.com
      properties:
        email:
          description: The email address to delist from all block lists.
          example: user@domain.com
          format: email
          type: string
      required:
      - email
      title: EmailAddressParam
      type: object
    EmailAddressesTypes:
      description: A flexible email address list that accepts either a plain RFC 822
        string or a structured array of contact objects.  When a string is provided
        it is parsed as a comma-separated list of RFC 822 addresses (supporting the
        `"Name <email>"` and bare `email` formats).  When an array is provided each
        entry must have at least an `email` field with an optional `name` field.
      oneOf:
      - description: "A single email address or RFC 822 comma-separated list. Example:\
          \ `\"joe@example.com\"` or `\"Joe <joe@example.com>, jane@example.com\"\
          `."
        example: Joe <joe@example.com>
        format: email
        type: string
      - $ref: "#/components/schemas/EmailAddressNames"
      title: EmailAddressesTypes
    EmailAddressTypes:
      description: "A flexible single email address that accepts either a plain address\
        \ string, an RFC 822 named-address string (`\"Name <email>\"`), or a structured\
        \ contact object."
      oneOf:
      - description: "A single email address or RFC 822 named-address string. Example:\
          \ `\"user@domain.com\"` or `\"Joe <user@domain.com>\"`."
        example: Joe <user@domain.com>
        type: string
      - $ref: "#/components/schemas/EmailAddressName"
      title: EmailAddressTypes
    SendMail:
      description: |-
        Request body for `POST /mail/send`.  Sends a simple single-recipient message. HTML detection is automatic — if `body` contains HTML tags the message is sent as `text/html`; otherwise as `text/plain`.  The `from` address is automatically set as both the `From` and `Reply-To` headers.

        For multiple recipients, CC/BCC, attachments, or per-field Reply-To control, use `POST /mail/advsend` instead.
      example:
        to: johndoe@company.com
        from: janedoe@company.com
        subject: Attention Client
        body: This is an email to inform you that something noteworthy happened.
      properties:
        to:
          $ref: "#/components/schemas/SendMail_to"
        from:
          description: The sender address.  This is used as both the `From` header
            and the `Reply-To` header automatically.  Must be a valid email address
            authorized for your mail order.
          example: janedoe@company.com
          format: email
          type: string
        subject:
          description: The subject line of the email.
          example: Attention Client
          type: string
        body:
          description: The email body.  If the string contains any HTML tags the message
            is automatically sent as `text/html`; otherwise it is sent as `text/plain`.
          example: This is an email to inform you that something noteworthy happened.
          type: string
        id:
          description: Optional numeric ID of the mail order to send through.  If
            omitted the first active order on your account is used automatically.  Valid
            IDs are returned by `GET /mail`.
          example: 2604
          format: int64
          type: integer
      required:
      - body
      - from
      - subject
      - to
      title: SendMail
      type: object
    SendMailAdv:
      description: |-
        Request body for `POST /mail/advsend`.  Provides full control over all email headers and supports multiple recipients, CC, BCC, Reply-To, and file attachments.

        Address fields (`from`, `to`, `replyto`, `cc`, `bcc`) each accept either a plain RFC 822 string (e.g. `"Joe <joe@example.com>"` or a comma-separated list) or a structured array of `{"email": "...", "name": "..."}` objects.

        HTML detection is automatic based on whether `body` contains HTML tags.
      example:
        subject: Welcome
        body: Hello
        from: user@domain.com
        to: someone@client.com
        cc:
        - email: someone2@client.com
          name: Mr Client
        attachments:
        - filename: file.txt
          data: base64_encoded_contents
        id: 66
      properties:
        subject:
          description: The subject line of the email.
          example: Your Package has been Delivered!
          type: string
        body:
          description: The email body.  If the string contains any HTML tags the message
            is automatically sent as `text/html`; otherwise it is sent as `text/plain`.
          example: The package you ordered on 2021-01-23 has been delivered.
          type: string
        from:
          $ref: "#/components/schemas/EmailAddressTypes"
        to:
          $ref: "#/components/schemas/EmailAddressesTypes"
        replyto:
          $ref: "#/components/schemas/EmailAddressesTypes"
        cc:
          $ref: "#/components/schemas/EmailAddressesTypes"
        bcc:
          $ref: "#/components/schemas/EmailAddressesTypes"
        attachments:
          description: Optional list of file attachments.  Each file must be base64-encoded.
            Include `filename` so recipients see a meaningful attachment name.
          items:
            $ref: "#/components/schemas/MailAttachment"
          type: array
        id:
          description: Optional numeric ID of the mail order to send through.  If
            omitted the first active order on your account is used automatically.  Valid
            IDs are returned by `GET /mail`.
          example: 5000
          format: int64
          type: integer
      required:
      - body
      - from
      - subject
      - to
      title: SendMailAdv
      type: object
    SendMailRaw:
      description: |-
        Request body for `POST /mail/rawsend`.  Accepts a complete RFC 822 message (all headers and body) as a verbatim string.  The relay injects it without modification, preserving any existing `DKIM-Signature` header intact.

        The `From`, `To`, `Cc`, and `Bcc` addresses are extracted from the message headers automatically — you do not need to specify them separately.
      example:
        id: 39
        raw_email: |
          Date: Sun, 16 Nov 2025 14:30:11 -0500
          To: Me <support@interserver.net>
          From: Mail Test <support@interserver.net>
          Reply-To: Mail Test <support@interserver.net>
          Subject: testing out raw email api call
          Message-ID: <9jeLkYQIw7KqYnoiCnnYj7EC0IrSHdp8XMuJq9a5qs@interserver.net>
          MIME-Version: 1.0
          Content-Type: text/plain; charset=utf-8
          DKIM-Signature: v=1; d=interserver.net; s=my; a=rsa-sha256; ...

          This is a test of the rawsend API call.
      properties:
        raw_email:
          description: "The complete RFC 822 email message including all headers and\
            \ the body. Must include at minimum `From`, `To`, `Subject`, `Date`, and\
            \ `MIME-Version` headers.  DKIM signatures in the `DKIM-Signature` header\
            \ are transmitted verbatim and will pass verification at the destination."
          type: string
        id:
          description: Optional numeric ID of the mail order to use for SMTP authentication.
            If omitted the first active order on your account is used.  Valid IDs
            are returned by `GET /mail`.
          format: int64
          type: integer
      required:
      - raw_email
      title: SendMailRaw
      type: object
    MailAttachment:
      description: A file attachment for use with `POST /mail/advsend`.  The file
        content must be base64-encoded.  The `filename` is shown to recipients in
        their email client.
      example:
        filename: file.txt
        data: base64_encoded_file_contents
      properties:
        filename:
          description: "The filename shown to recipients (e.g. `report.pdf`, `invoice.xlsx`)."
          example: message.txt
          type: string
        data:
          description: The file contents as a base64-encoded string.  Decode this
            to retrieve the original binary file.
          example: !!binary |-
            YUdWc2JHOGdkR2hsY21VSw==
          format: byte
          type: string
      required:
      - data
      - filename
      title: MailAttachment
      type: object
    MailBlocks:
      description: The complete set of blocked addresses and message patterns returned
        by `GET /mail/blocks`.  Three independent block sources are combined into
        one response. Use `POST /mail/blocks/delete` with a `from` address from any
        entry to delist it.
      example:
        subject:
        - from: user@domain.com
          subject: Test email
        - from: user@domain.com
          subject: Test email
        mbtrap:
        - date: 2023-08-07
          from: user@domain.com
          messageId: pFaRqFUEWkucjhTuIzYuoAgWU@domain.com
          subject: Test Email
          to: "['client@site.com']"
        - date: 2023-08-07
          from: user@domain.com
          messageId: pFaRqFUEWkucjhTuIzYuoAgWU@domain.com
          subject: Test Email
          to: "['client@site.com']"
        local:
        - date: 2023-08-07
          from: user@domain.com
          messageId: pFaRqFUEWkucjhTuIzYuoAgWU@domain.com
          subject: Test Email
          to: "['client@site.com']"
        - date: 2023-08-07
          from: user@domain.com
          messageId: pFaRqFUEWkucjhTuIzYuoAgWU@domain.com
          subject: Test Email
          to: "['client@site.com']"
      properties:
        local:
          description: Messages flagged by the `LOCAL_BL_RCPT` rspamd rule in the
            last 5 days. These are messages sent to recipients on a local block list.
          items:
            $ref: "#/components/schemas/MailBlockClickHouse"
          type: array
        mbtrap:
          description: Messages flagged by the `MBTRAP` rspamd rule in the last 5
            days. These triggered MailBaby's honeypot / trap address detection.
          items:
            $ref: "#/components/schemas/MailBlockClickHouse"
          type: array
        subject:
          description: "Senders whose messages contained spam-indicative subjects\
            \ (containing `@`, `smtp`, `socks4`, or `socks5`) with more than 4 occurrences\
            \ of the same subject in the last 3 days."
          items:
            $ref: "#/components/schemas/MailBlockRspamd"
          type: array
      required:
      - local
      - mbtrap
      - subject
      title: MailBlocks
      type: object
    MailBlockClickHouse:
      description: A block event record sourced from the ClickHouse analytics store.  Represents
        a message that triggered one of the rspamd block rules (`LOCAL_BL_RCPT` or
        `MBTRAP`). The `from` address can be passed to `POST /mail/blocks/delete`
        to delist it.
      example:
        date: 2023-08-07
        from: user@domain.com
        messageId: pFaRqFUEWkucjhTuIzYuoAgWU@domain.com
        subject: Test Email
        to: "['client@site.com']"
      properties:
        date:
          description: The date the block event was recorded.
          example: 2023-08-07
          format: date
          type: string
        from:
          description: The SMTP envelope sender (`MAIL FROM`) address of the blocked
            message. Pass this value as `email` to `POST /mail/blocks/delete` to delist
            it.
          example: user@domain.com
          type: string
        messageId:
          description: "The `Message-ID` header of the blocked message, or `null`\
            \ if not present."
          example: pFaRqFUEWkucjhTuIzYuoAgWU@domain.com
          nullable: true
          type: string
        subject:
          description: The `Subject` header of the blocked message.
          example: Test Email
          type: string
        to:
          description: The serialized list of recipients of the blocked message.
          example: "['client@site.com']"
          type: string
      required:
      - date
      - from
      - subject
      - to
      title: MailBlockClickHouse
      type: object
    MailBlockRspamd:
      description: A block pattern sourced from the rspamd database.  Represents a
        sender whose recent messages contained suspicious subject lines (e.g. containing
        relay/proxy strings) repeated more than 4 times in the last 3 days. The `from`
        address can be passed to `POST /mail/blocks/delete` to delist it.
      example:
        from: user@domain.com
        subject: Test email
      properties:
        from:
          description: The sender email address.  Pass this value as `email` to `POST
            /mail/blocks/delete` to delist the sender.
          example: user@domain.com
          type: string
        subject:
          description: The suspicious subject pattern that triggered the block.
          example: Test email
          type: string
      required:
      - from
      - subject
      title: MailBlockRspamd
      type: object
    DenyRuleRecord:
      allOf:
      - properties:
          id:
            description: "The numeric ID of the deny rule, as a string.  Pass this\
              \ as `ruleId` to `DELETE /mail/rules/{ruleId}` to remove the rule."
            example: "41124"
            type: string
          created:
            description: The timestamp when the rule was created.
            format: date-time
            type: string
        required:
        - created
        - id
        type: object
      - $ref: "#/components/schemas/DenyRuleNew"
      description: "A complete deny rule record as returned by `GET /mail/rules`.\
        \  Combines the rule definition fields (`DenyRuleNew`) with server-assigned\
        \ metadata (`id` and `created`).  The `id` value is required by `DELETE /mail/rules/{ruleId}`."
      example:
        id: "14"
        user: mb20682
        type: email
        data: domeinwo@server.guesshost.net
        created: 2022-03-22 19:16:35
      title: DenyRuleRecord
    DenyRuleNew:
      description: |-
        The fields required to create a new email deny rule via `POST /mail/rules`. The `type` controls what `data` is matched against:
        - `email` — exact sender address match - `domain` — all senders from a domain - `destination` — exact recipient address match - `startswith` — sender local-part prefix match (alphanumeric + `+_.-` only)
      example:
        user: mb20682
        type: email
        data: domeinwo@server.guesshost.net
      properties:
        user:
          description: Optional SMTP username of the mail order to associate this
            rule with (e.g. `mb20682`).  If omitted the first active order is used.  Valid
            usernames are the `username` values returned by `GET /mail`.
          example: mb20682
          type: string
        type:
          description: The type of deny rule.
          enum:
          - domain
          - email
          - startswith
          - destination
          example: email
          type: string
        data:
          description: "The value to match against, interpreted according to `type`:\
            \ a full email address for `email`/`destination`, a domain name for `domain`,\
            \ or an alphanumeric prefix string for `startswith`."
          example: domeinwo@server.guesshost.net
          type: string
      required:
      - data
      - type
      title: DenyRuleNew
      type: object
    MailLog:
      description: Paginated mail log response returned by `GET /mail/log`.  Contains
        the full matched count (`total`) plus a page of `MailLogEntry` records.  Use
        `skip` and `limit` to page through large result sets.
      example:
        emails:
        - _id: 103172
          id: 17c7eda538e0005d03
          from: person@mysite.com
          to: client@isp.com
          subject: sell 0.005 shares
          messageId: <vmiLEebsuCbSpUxD7oN3REpaN4VbN6BrdCAbNKIrdAo@relay0.mailbaby.net>
          created: 2021-10-14 08:50:10
          time: 1634215809
          user: mb5658
          transtype: ESMTPSA
          origin: 199.231.189.154
          interface: feeder
          sendingZone: interserver
          bodySize: 63
          seq: 1
          delivered: 1
          recipient: client@isp.com
          domain: interserver.net
          locked: 1
          lockTime: "1634215818533"
          assigned: relay1
          queued: 2021-10-14T12:50:15.487Z
          mxHostname: mx.j.is.cc
          response: 250 2.0.0 Ok queued as C91D83E128C
        - _id: 103172
          id: 17c7eda538e0005d03
          from: person@mysite.com
          to: client@isp.com
          subject: sell 0.005 shares
          messageId: <vmiLEebsuCbSpUxD7oN3REpaN4VbN6BrdCAbNKIrdAo@relay0.mailbaby.net>
          created: 2021-10-14 08:50:10
          time: 1634215809
          user: mb5658
          transtype: ESMTPSA
          origin: 199.231.189.154
          interface: feeder
          sendingZone: interserver
          bodySize: 63
          seq: 1
          delivered: 1
          recipient: client@isp.com
          domain: interserver.net
          locked: 1
          lockTime: "1634215818533"
          assigned: relay1
          queued: 2021-10-14T12:50:15.487Z
          mxHostname: mx.j.is.cc
          response: 250 2.0.0 Ok queued as C91D83E128C
        total: 10234
        limit: 100
        skip: 0
      properties:
        total:
          description: "Total number of log entries that match the supplied filters,\
            \ regardless of `skip` and `limit`.  Use this to calculate the number\
            \ of pages: `ceil(total / limit)`."
          example: 10234
          type: integer
        skip:
          description: The `skip` value used for this page (echoed from the request).
          example: 0
          type: integer
        limit:
          description: The `limit` value used for this page (echoed from the request).
          example: 100
          type: integer
        emails:
          items:
            $ref: "#/components/schemas/MailLogEntry"
          type: array
      required:
      - emails
      - limit
      - skip
      - total
      title: MailLog
      type: object
    MailLogEntry:
      description: |-
        A single email record in the mail log.  Combines data from the message store (envelope metadata), the queue release table (delivery status and response), and the sender delivery table (MX routing details).

        Key field relationships with other API calls:
        - The `id` field matches the `mailid` query parameter on `GET /mail/log` and
          the `text` field of a successful send response.
        - The `from` address can be passed to `POST /mail/blocks/delete` to delist a
          flagged sender.
        - The `user` field is the SMTP username (e.g. `mb5658`) corresponding to the
          `username` field in `GET /mail` / `GET /mail/{id}`.
      example:
        _id: 103172
        id: 17c7eda538e0005d03
        from: person@mysite.com
        to: client@isp.com
        subject: sell 0.005 shares
        messageId: <vmiLEebsuCbSpUxD7oN3REpaN4VbN6BrdCAbNKIrdAo@relay0.mailbaby.net>
        created: 2021-10-14 08:50:10
        time: 1634215809
        user: mb5658
        transtype: ESMTPSA
        origin: 199.231.189.154
        interface: feeder
        sendingZone: interserver
        bodySize: 63
        seq: 1
        delivered: 1
        recipient: client@isp.com
        domain: interserver.net
        locked: 1
        lockTime: "1634215818533"
        assigned: relay1
        queued: 2021-10-14T12:50:15.487Z
        mxHostname: mx.j.is.cc
        response: 250 2.0.0 Ok queued as C91D83E128C
      properties:
        _id:
          description: Internal auto-increment database row ID.  Not meaningful outside
            the API.
          example: 103172
          type: integer
        id:
          description: The relay-assigned mail ID (18–19 hex characters).  This is
            the value returned as `text` by the sending endpoints and accepted as
            the `mailid` filter on `GET /mail/log`.
          example: 17c7eda538e0005d03
          type: string
        from:
          description: SMTP envelope `MAIL FROM` address (may differ from the `From:`
            header).
          example: person@mysite.com
          type: string
        to:
          description: SMTP envelope `RCPT TO` address.
          example: client@isp.com
          type: string
        subject:
          description: "The `Subject` header value, if available."
          example: sell 0.005 shares
          nullable: true
          type: string
        messageId:
          description: "The `Message-ID` header value, if present.  Can be used with\
            \ the `messageId` filter on `GET /mail/log` for subsequent lookups."
          example: <vmiLEebsuCbSpUxD7oN3REpaN4VbN6BrdCAbNKIrdAo@relay0.mailbaby.net>
          nullable: true
          type: string
        created:
          description: Human-readable creation timestamp in `YYYY-MM-DD HH:MM:SS`
            format.
          example: 2021-10-14 08:50:10
          type: string
        time:
          description: Unix timestamp of message acceptance.  Corresponds to the `startDate`
            and `endDate` filter parameters on `GET /mail/log`.
          example: 1634215809
          type: integer
        user:
          description: The SMTP AUTH username used to submit the message (e.g. `mb5658`).
            Corresponds to the `username` field in `GET /mail` orders.
          example: mb5658
          type: string
        transtype:
          description: SMTP transaction type negotiated with the relay (e.g. `ESMTPSA`).
          example: ESMTPSA
          type: string
        origin:
          description: IP address of the client that submitted the message to the
            relay. Corresponds to the `origin` filter parameter on `GET /mail/log`.
          example: 199.231.189.154
          type: string
        interface:
          description: Relay interface name that accepted the message (e.g. `feeder`).
          example: feeder
          type: string
        sendingZone:
          description: The sending zone assigned by the relay for outbound delivery.
          example: interserver
          nullable: true
          type: string
        bodySize:
          description: Size of the message body in bytes.
          example: 63
          nullable: true
          type: integer
        seq:
          description: Sequence index of this recipient in a multi-recipient message.
            Starts at 1.
          example: 1
          nullable: true
          type: integer
        delivered:
          description: "Delivery status flag.  `1` = successfully delivered to destination\
            \ MX. `0` = queued, deferred, or failed.  `null` = delivery not yet attempted.\
            \ Corresponds to the `delivered` filter parameter on `GET /mail/log`."
          example: 1
          nullable: true
          type: integer
        response:
          description: The SMTP response string received from the destination MX server
            upon delivery attempt (e.g. `"250 2.0.0 Ok queued as C91D83E128C"`).
          example: 250 2.0.0 Ok queued as C91D83E128C
          nullable: true
          type: string
        recipient:
          description: The specific recipient address this delivery record is for.
          example: client@isp.com
          nullable: true
          type: string
        domain:
          description: "The destination domain.  Corresponds to the `mx` filter parameter\
            \ (which matches `mxHostname`, not `domain`) on `GET /mail/log`."
          example: interserver.net
          nullable: true
          type: string
        locked:
          description: Whether the queue entry is currently locked for delivery processing.
          example: 1
          nullable: true
          type: integer
        lockTime:
          description: Millisecond-precision timestamp of the last queue lock acquisition.
          example: "1634215818533"
          nullable: true
          type: string
        assigned:
          description: The relay server node assigned to deliver this message.
          example: relay1
          nullable: true
          type: string
        queued:
          description: ISO 8601 timestamp when the message was placed into the delivery
            queue.
          example: 2021-10-14T12:50:15.487Z
          nullable: true
          type: string
        mxHostname:
          description: The MX hostname the relay connected to for delivery.  Corresponds
            to the `mx` filter parameter on `GET /mail/log`.
          example: mx.j.is.cc
          nullable: true
          type: string
      required:
      - _id
      - created
      - from
      - id
      - interface
      - origin
      - time
      - to
      - transtype
      - user
      title: MailLogEntry
      type: object
    MailStatsType:
      description: "Account usage statistics returned by `GET /mail/stats`.  Includes\
        \ billing-cycle usage totals (for cost calculation) as well as time-windowed\
        \ sent/received counts and volume breakdowns by IP, destination, and source\
        \ address."
      example:
        time: all
        usage: 55
        currency: USD
        cost: 1.02
        received: 508
        sent: 495
        volume:
          to:
            client@domain.com: 395
            user@site.net: 57
            sales@company.com: 47
          from:
            billing@somedomain.com: 369
            sales@somedomain.com: 139
          ip:
            "1.1.1.1": 142
            "2.2.2.2": 132
            "3.3.3.3": 129
      properties:
        time:
          default: 1h
          description: "The time window these `received`, `sent`, and `volume` statistics\
            \ cover."
          enum:
          - all
          - billing
          - month
          - 7d
          - 24h
          - day
          - 1h
          type: string
        usage:
          description: Total messages accepted during the current billing cycle.  Used
            to calculate the `cost` value.
          format: int32
          type: integer
        currency:
          description: The ISO 4217 currency code for this account (e.g. `USD`).
          type: string
        cost:
          description: Estimated cost for the current billing cycle combining the
            base plan price and per-email charges ($0.20/1000 emails).
          format: double
          type: number
        received:
          description: Count of messages accepted by the relay within the selected
            `time` window. Includes messages still in queue.
          format: int32
          type: integer
        sent:
          description: Count of messages successfully delivered to the destination
            MX within the selected `time` window.  Will be ≤ `received`.
          format: int32
          type: integer
        volume:
          $ref: "#/components/schemas/MailStatsType_volume"
      title: MailStatsType
      type: object
    SendMail_to:
      description: The primary recipient address.  Accepts a single email address
        string or an array of email address strings for multiple recipients.
      oneOf:
      - description: Single recipient email address.
        example: johndoe@company.com
        format: email
        type: string
      - description: Multiple recipient email addresses.
        example:
        - johndoe@company.com
        - janedoe@company.com
        items:
          format: email
          type: string
        type: array
    MailStatsType_volume:
      description: "Top-500 breakdown of message counts grouped by source IP, destination\
        \ address, and sender address within the selected `time` window."
      properties:
        to:
          additionalProperties:
            format: int32
            type: integer
          description: Message counts keyed by destination (envelope `to`) email address.
          type: object
        from:
          additionalProperties:
            format: int32
            type: integer
          description: Message counts keyed by sender (envelope `from`) email address.
          type: object
        ip:
          additionalProperties:
            format: int32
            type: integer
          description: Message counts keyed by originating client IP address.
          type: object
      type: object
  securitySchemes:
    apiKeyAuth:
      description: "Pass your API key in the `X-API-KEY` HTTP request header.  Obtain\
        \ your key from the [Account Security](https://my.interserver.net/account_security)\
        \ page on my.interserver.net."
      in: header
      name: X-API-KEY
      type: apiKey

