/**
 * MailBaby Email Delivery and Management Service API
 * **Send emails fast and with confidence through our easy to use [REST](https://en.wikipedia.org/wiki/Representational_state_transfer) API interface.** # Overview This is the API interface to the [Mail Baby](https//mail.baby/) Mail services provided by [InterServer](https://www.interserver.net). To use this service you must have an account with us at [my.interserver.net](https://my.interserver.net). # Authentication In order to use most of the API calls you must pass credentials from the [my.interserver.net](https://my.interserver.net/) site. We support several different authentication methods but the preferred method is to use the **API Key** which you can get from the [Account Security](https://my.interserver.net/account_security) page. 
 *
 * OpenAPI spec version: 1.1.0
 * Contact: support@interserver.net
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */
package io.swagger.client.api

import java.text.SimpleDateFormat

import io.swagger.client.model.EmailAddressName
import io.swagger.client.model.GenericResponse
import io.swagger.client.model.MailAttachment
import io.swagger.client.model.SendMail
import io.swagger.client.model.SendMailAdv
import io.swagger.client.model.inline_response_401
import io.swagger.client.{ApiInvoker, ApiException}

import com.sun.jersey.multipart.FormDataMultiPart
import com.sun.jersey.multipart.file.FileDataBodyPart

import javax.ws.rs.core.MediaType

import java.io.File
import java.util.Date
import java.util.TimeZone

import scala.collection.mutable.HashMap

import com.wordnik.swagger.client._
import scala.concurrent.Future
import collection.mutable

import java.net.URI

import com.wordnik.swagger.client.ClientResponseReaders.Json4sFormatsReader._
import com.wordnik.swagger.client.RequestWriters.Json4sFormatsWriter._

import scala.concurrent.ExecutionContext.Implicits.global
import scala.concurrent._
import scala.concurrent.duration._
import scala.util.{Failure, Success, Try}

import org.json4s._

class SendingApi(
  val defBasePath: String = "https://api.mailbaby.net",
  defApiInvoker: ApiInvoker = ApiInvoker
) {
  private lazy val dateTimeFormatter = {
    val formatter = new SimpleDateFormat("yyyy-MM-dd'T'HH:mm:ss.SSSZ")
    formatter.setTimeZone(TimeZone.getTimeZone("UTC"))
    formatter
  }
  private val dateFormatter = {
    val formatter = new SimpleDateFormat("yyyy-MM-dd")
    formatter.setTimeZone(TimeZone.getTimeZone("UTC"))
    formatter
  }
  implicit val formats = new org.json4s.DefaultFormats {
    override def dateFormatter = dateTimeFormatter
  }
  implicit val stringReader: ClientResponseReader[String] = ClientResponseReaders.StringReader
  implicit val unitReader: ClientResponseReader[Unit] = ClientResponseReaders.UnitReader
  implicit val jvalueReader: ClientResponseReader[JValue] = ClientResponseReaders.JValueReader
  implicit val jsonReader: ClientResponseReader[Nothing] = JsonFormatsReader
  implicit val stringWriter: RequestWriter[String] = RequestWriters.StringWriter
  implicit val jsonWriter: RequestWriter[Nothing] = JsonFormatsWriter

  var basePath: String = defBasePath
  var apiInvoker: ApiInvoker = defApiInvoker

  def addHeader(key: String, value: String): mutable.HashMap[String, String] = {
    apiInvoker.defaultHeaders += key -> value
  }

  val config: SwaggerConfig = SwaggerConfig.forUrl(new URI(defBasePath))
  val client = new RestClient(config)
  val helper = new SendingApiAsyncHelper(client, config)

  /**
   * Sends an Email with Advanced Options
   * Sends An email through one of your mail orders allowing additional options such as file attachments, cc, bcc, etc.
   *
   * @param subject  
   * @param body  
   * @param from  
   * @param to  
   * @param replyto  
   * @param cc  
   * @param bcc  
   * @param attachments  
   * @param id  
   * @param body  
   * @return GenericResponse
   */
  def sendAdvMail(subject: String, body: String, from: EmailAddressName, to: List[EmailAddressName], replyto: List[EmailAddressName], cc: List[EmailAddressName], bcc: List[EmailAddressName], attachments: List[MailAttachment], id: Long, body: SendMailAdv): Option[GenericResponse] = {
    val await = Try(Await.result(sendAdvMailAsync(subject, body, from, to, replyto, cc, bcc, attachments, id, body), Duration.Inf))
    await match {
      case Success(i) => Some(await.get)
      case Failure(t) => None
    }
  }

  /**
   * Sends an Email with Advanced Options asynchronously
   * Sends An email through one of your mail orders allowing additional options such as file attachments, cc, bcc, etc.
   *
   * @param subject  
   * @param body  
   * @param from  
   * @param to  
   * @param replyto  
   * @param cc  
   * @param bcc  
   * @param attachments  
   * @param id  
   * @param body  
   * @return Future(GenericResponse)
   */
  def sendAdvMailAsync(subject: String, body: String, from: EmailAddressName, to: List[EmailAddressName], replyto: List[EmailAddressName], cc: List[EmailAddressName], bcc: List[EmailAddressName], attachments: List[MailAttachment], id: Long, body: SendMailAdv): Future[GenericResponse] = {
      helper.sendAdvMail(subject, body, from, to, replyto, cc, bcc, attachments, id, body)
  }

  /**
   * Sends an Email
   * Sends an email through one of your mail orders.  *Note*: If you want to send to multiple recipients or use file attachments use the advsend (Advanced Send) call instead. 
   *
   * @param to  
   * @param from  
   * @param subject  
   * @param body  
   * @param body  
   * @return GenericResponse
   */
  def sendMail(to: String, from: String, subject: String, body: String, body: SendMail): Option[GenericResponse] = {
    val await = Try(Await.result(sendMailAsync(to, from, subject, body, body), Duration.Inf))
    await match {
      case Success(i) => Some(await.get)
      case Failure(t) => None
    }
  }

  /**
   * Sends an Email asynchronously
   * Sends an email through one of your mail orders.  *Note*: If you want to send to multiple recipients or use file attachments use the advsend (Advanced Send) call instead. 
   *
   * @param to  
   * @param from  
   * @param subject  
   * @param body  
   * @param body  
   * @return Future(GenericResponse)
   */
  def sendMailAsync(to: String, from: String, subject: String, body: String, body: SendMail): Future[GenericResponse] = {
      helper.sendMail(to, from, subject, body, body)
  }

}

class SendingApiAsyncHelper(client: TransportClient, config: SwaggerConfig) extends ApiClient(client, config) {

  def sendAdvMail(subject: String,
    body: String,
    from: EmailAddressName,
    to: List[EmailAddressName],
    replyto: List[EmailAddressName],
    cc: List[EmailAddressName],
    bcc: List[EmailAddressName],
    attachments: List[MailAttachment],
    id: Long,
    body: SendMailAdv)(implicit reader: ClientResponseReader[GenericResponse], writer: RequestWriter[SendMailAdv]): Future[GenericResponse] = {
    // create path and map variables
    val path = (addFmt("/mail/advsend"))

    // query params
    val queryParams = new mutable.HashMap[String, String]
    val headerParams = new mutable.HashMap[String, String]

    if (subject == null) throw new Exception("Missing required parameter 'subject' when calling SendingApi->sendAdvMail")

    if (body == null) throw new Exception("Missing required parameter 'body' when calling SendingApi->sendAdvMail")

    if (from == null) throw new Exception("Missing required parameter 'from' when calling SendingApi->sendAdvMail")
    if (to == null) throw new Exception("Missing required parameter 'to' when calling SendingApi->sendAdvMail")
    if (replyto == null) throw new Exception("Missing required parameter 'replyto' when calling SendingApi->sendAdvMail")
    if (cc == null) throw new Exception("Missing required parameter 'cc' when calling SendingApi->sendAdvMail")
    if (bcc == null) throw new Exception("Missing required parameter 'bcc' when calling SendingApi->sendAdvMail")
    if (attachments == null) throw new Exception("Missing required parameter 'attachments' when calling SendingApi->sendAdvMail")
    if (body == null) throw new Exception("Missing required parameter 'body' when calling SendingApi->sendAdvMail")

    val resFuture = client.submit("POST", path, queryParams.toMap, headerParams.toMap, writer.write(body))
    resFuture flatMap { resp =>
      process(reader.read(resp))
    }
  }

  def sendMail(to: String,
    from: String,
    subject: String,
    body: String,
    body: SendMail)(implicit reader: ClientResponseReader[GenericResponse], writer: RequestWriter[SendMail]): Future[GenericResponse] = {
    // create path and map variables
    val path = (addFmt("/mail/send"))

    // query params
    val queryParams = new mutable.HashMap[String, String]
    val headerParams = new mutable.HashMap[String, String]

    if (to == null) throw new Exception("Missing required parameter 'to' when calling SendingApi->sendMail")

    if (from == null) throw new Exception("Missing required parameter 'from' when calling SendingApi->sendMail")

    if (subject == null) throw new Exception("Missing required parameter 'subject' when calling SendingApi->sendMail")

    if (body == null) throw new Exception("Missing required parameter 'body' when calling SendingApi->sendMail")

    if (body == null) throw new Exception("Missing required parameter 'body' when calling SendingApi->sendMail")

    val resFuture = client.submit("POST", path, queryParams.toMap, headerParams.toMap, writer.write(body))
    resFuture flatMap { resp =>
      process(reader.read(resp))
    }
  }


}
